<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver">
		</property>
		<property name="jdbcUrl"
			value="jdbc:mysql://192.168.242.33:3306/open_platform?characterEncoding=utf8"></property>
		<property name="user" value="wap_qpl_w"></property>
		<property name="password" value="347(834Uasf8kFHU"></property>
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="50" />
		<property name="breakAfterAcquireFailure" value="false" />
		<property name="acquireRetryAttempts" value="3" />
		<property name="idleConnectionTestPeriod" value="500"></property>
	</bean>
</beans>
