<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>上传成功</title>
    <!-- Bootstrap core CSS -->
    <link href="../../js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
<br/><br/><br/><br/>
	<h2>成功导入总计:$successNum</h2>
	<table border="1"  cellspacing="0" cellpadding="10">
		<tr>
			<th>分类</th>
			<th>数量</th>
		</tr>
		#foreach($param in ${saveCategoryNumCN.keySet()})  
		<tr>
			<td>$param</td>
			<td>${saveCategoryNumCN.get($param)}</td>
		</tr>
		#end  
	</table>
	#if($missingList.size != 0)
	<h2>未导入条码:$missingList.size()</h2>
		<table border="1"  cellspacing="0" cellpadding="10">
		<tr>
			<th>条形码</th>
		</tr>
		#foreach($serialNo in $missingList)
		<tr>
			<td>$serialNo</td>
		</tr>
		#end
	</table>
		
	     
	#end
</div> <!-- /container -->
</body>
</html>
