<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>上传文件</title>
    <!-- Bootstrap core CSS -->
    <script type="text/javascript" src="../../../js/jquery/dist/jquery.js"></script>
    <link href="../../js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
		$(document).ready(function(){
			var shop_id = null;
		  	$('#firstShop option:selected', this).each(function(){
				from_shop_id = this.value;
				//onchangeShow(shop_id);
			});
			$('#firstShop').change(function(){
				$('option:selected', this).each(function(){
					from_shop_id = this.value;
					//onchangeShow(shop_id);
				});
			});
			//alert(shop_id);
		function onchangeShow(shop_id){ 
			$.ajax({ 
				url : "/catstaff/tools/getCategoriesByShopId", 
				data : {shop_id : shop_id}, //参数 
				type : "post", 
				cache : false, 
				dataType : "json", //返回json数据 
				error: function(){ 
					alert('error'); 
				}, 
				success:onchangecallback 
			}); 
		} 
		function onchangecallback(data){ 
			$('#category_id').options.length = 0; //清空原有的option 
			var str=""; 
			for(var i=0;i<data.length;i++){ 
				str+="<option value='"+data[i].recordId+"'>"+data[i].title+"</option>" 
			} 
			$("#category_id").html(str); 
		} 
		});
	</script>
    
</head>

<body>
<!-- 上传文件 -->
<div class="container">
<br/><br/><br/><br/>
	<h2>上传扫码文件</h2>
    <form action="/catstaff/tools/uploadFile" method="post" enctype="multipart/form-data" >
	        商店ID:
	   <select name="shop_id" required>
	     	#foreach($shop in $list)
			<option value="$shop.id">$shop.name</option>
			#end
       </select><br/>
	        文&nbsp;&nbsp;&nbsp;件:<input type="file" name="file" required/><br/>
        <button class="btn" type="submit">提交</button>
    </form>
</div> <!-- /container -->
<hr/>
<div class="container">
<br/><br/><br/><br/>
	<h2>同步A店分类商品到B商店</h2>
    <form action="/catstaff/tools/mvShopItems" method="post">
	        商店:
	   <select id="firstShop" name="from_shop_id" required >
	     	#foreach($shop in $list)
			<option value="$shop.id">$shop.name</option>
			#end
       </select>
	      分类:<select id="category_id" name="category_id" required>
	        #foreach($category in $categoryList)
			<option value="$category.id">$category.name</option>
			#end
          </select>
        	同步到:
	  <select id="secondShopId" name="to_shop_id" required>
	     	#foreach($shop in $list)
			<option value="$shop.id">$shop.name</option>
			#end
       </select>
       <button class="btn" type="submit">确定</button>
    </form>
    
    <hr/>
    <h2>同步商店商品到主库</h2>
   <form action="/catstaff/tools/refresh2Produdce" method="post">
     <select id="secondShopId" name="shop_id" required>
	     	#foreach($shop in $list)
			<option value="$shop.id">$shop.name</option>
			#end
       </select>
       <button class="btn" type="submit">确定</button>
    </form>
</div> <!-- /container -->

<hr/>
</body>
</html>
