/*commmon css*/
.nonPadding {
    padding: 0;
}

.justify {
    overflow: hidden;
    text-align: justify;
    text-justify: distribute-all-lines;
}

/* home page - product list*/
.homepageHeaderBar .buttons-right {
    right: 14px !important;
}

.homepageHeaderBar .buttons-left {
    margin-left: 9px !important;
}

.homepageFooterBar {
    padding: 0;
    overflow: hidden;
    height: 49px;
    z-index: 500;
}

.shoppingCartBadge {
    position: absolute;
    top: 5;
    right: -14;
    border-radius: 9px;
    min-width: 18px;
    font-size: 12px;
    height: 18px;
    padding: 0;
    z-index: 100;
    font-weight: lighter;
    text-align: center;
    font-family:sans-serif;
}

.shoppingCartHintMessage {
    margin-top: 7px !important;
    margin-right: 14px !important;
    margin-left: auto !important;
    margin-bottom: auto !important;
    border-radius: 2px !important;
    font-size: 17px !important;
    width: 80% !important;
    height: 37px !important;
}

.homepageContent.scroll-content{
    bottom: 0 !important;
}

.homepageContent.has-footer{
    padding-bottom:44px !important;
}

.bar-light.homepageFooterBar{
    background: rgba(255, 255, 255,0.9) !important;
}