/*commmon css*/
.nonPadding {
    padding: 0;
}

.justify {
    overflow: hidden;
    text-align: justify;
    text-justify: distribute-all-lines;
}

.baseRedColor {
    color: #ef5356;
}

.noBorderBottonLi {
    border-bottom: none;
}

.search-box {
    width: 100%;
    padding: 5px;
    background: #eaeaea;
    font-family: "Hiragino Sans GB", "w3", "黑体", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

/* choose shop*/

.chooseShopHeader {
    background-color: #7a7a7a;
    width: 100%;
    height: 29px;
    color: #ffffff;
    font-size: 11px;
    padding: 5px 10px 0px 10px;
    font-family: "Hiragino Sans GB", "w3", "黑体", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

/* home page - product list*/

.homepageContent {
    position: absolute;
    bottom: 49;
    top: 49;
    z-index: 9;
}

.homepageHeaderBar .buttons-right {
    right: 14px !important;
}

.homepageHeaderBar.buttons-left {
    margin-left: 9px !important;
}

.headerBarWithShadow:after {
    content: "";
    position: absolute;
    left: -1;
    right: -1;
    bottom: -5px;
    width: 100%;
    height: 5px;

    background: -moz-linear-gradient(top, rgba(206, 206, 206, 0.3), rgba(255, 255, 255, 0.7)); /*Mozilla*/
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(206, 206, 206, 0.3)), to(rgba(255, 255, 255, 0.7))); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(top, rgba(206, 206, 206, 0.3), rgba(255, 255, 255, 0.7)); /*new gradient for Webkit*/
    background: -o-linear-gradient(top, rgba(206, 206, 206, 0.3), rgba(255, 255, 255, 0.7)); /*Opera11*/
}

.addressListBar:after {
    content: "";
    position: absolute;
    left: -1;
    right: -1;
    bottom: -5px;
    width: 100%;
    height: 5px;

    background: -moz-linear-gradient(top, rgba(236, 236, 236, 1.0), rgba(236, 236, 236, 0.3)); /*Mozilla*/
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(236, 236, 236, 1.0)), to(rgba(236, 236, 236, 0.3))); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1.0), rgba(236, 236, 236, 0.3)); /*new gradient for Webkit*/
    background: -o-linear-gradient(top, rgba(236, 236, 236, 1.0), rgba(236, 236, 236, 0.3)); /*Opera11*/
}

.contentWithHeaderBarShadow {
    top: 49;
}

.homepageFooterBar {
    padding: 0;
    overflow: hidden;
    height: 49px;
    z-index: 500;
    border-top: solid 1px lightgray;
}

.shoppingCartBadge {
    position: absolute;
    top: 5;
    right: -14;
    border-radius: 9px;
    min-width: 18px;
    font-size: 12px;
    height: 18px;
    padding: 0;
    z-index: 100;
    font-weight: lighter;
    text-align: center;
    font-family: sans-serif;
}

.shoppingCartHintMessage {
    margin-top: 7px !important;
    margin-right: 14px !important;
    margin-left: auto !important;
    margin-bottom: auto !important;
    border-radius: 2px !important;
    font-size: 17px !important;
    width: 80% !important;
    height: 37px !important;
}

.homepageContent.scroll-content {
    bottom: 0 !important;
}

.homepageContent.has-footer {
    padding-bottom: 44px !important;
}

.bar-light.homepageFooterBar {
    background: rgba(255, 255, 255, 0.9) !important;
}

/* checkout page*/
.checkoutFooterBar {
    padding: 0;
    overflow: hidden;
    height: 49
}

.checkoutBasePadding {
    padding: 10px 20px 5px 20px;
}

.checkoutHeaderbar {
}

.bar-light.checkoutHeaderbar {
    background: rgba(255, 255, 255, 1.0) !important;
}

/* address list*/
.addressList {
    background-color: #ededed;
}

.addressListHeader {

    background-color: #EAEAEA;
    padding: 5px 5px 5px 20px;
}

/* order list*/

.noOrderHint {
    position: relative;
    padding-top: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: "Hiragino Sans GB", "w3", "黑体", "Microsoft YaHei", Arial, Helvetica, sans-serif;;
}

.noOrderImageHint {
    padding-top: 20px;
    display: inline-block;
    width: 175px;
    height: 175px;
    background-image: url('/images/cat_grey.png');
    background-size: contain
}

.noOrderGotoShop {
    display: inline-block;
    width: 134px;
    height: auto;
    font-size: 17px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    background-color: #ef5356;
    color: #ffffff;
    border-radius: 2px;
}

.orderListHeader {
    background-color: #EAEAEA;
    padding: 5px 5px 5px 20px;
}

/* search list*/
.searchSuggestionResultList {
    position: absolute;
    top: 86;
    bottom: 29;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(236, 236, 236, 0.7);
    z-index: 200;
    opacity: 0.9
}