<div style=";height: 57px;padding-top: 10px;">
    <div id="search-box" class="item-input-inset"
         style=";margin: auto;height: 36px">
        <div class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon assertive" style="font-size: 20px"></i>
            <input type="search" placeholder="请输入地址例如,五道口" ng-model="shop_data.searchQuery"
                   ng-focus="startSearch()" ng-change='getSuggestions(shop_data.searchQuery,$event)' ng-keyup="$event.keyCode == 13 && performSearch(shop_data.searchQuery,$event)" style="color: #7a7a7a">
            <!--<i class="clear-search icon ion-ios7-close-empty" style="font-size: 20px"-->
               <!--ng-click="clearSearch()" ng-show="shop_info.startSearch"></i>-->
        </div>
        <button class="button-clear" style="color: #000000;font-size: 15px;min-width: 50px" ng-click="performSearch(shop_data.searchQuery,$event)"> 搜索 </button>
    </div>
</div>
<div style="padding-top:3px;padding-bottom:3px;margin-bottom:10px;  background-color: #ededed;color: #999999;" ng-click="relocation()"
        ng-hide="shop_info.showAddressSuggestion">
    <div style="display: inline-block;padding-left: 10px">
        {{shop_info.locationMessage}}
    </div>
    <div style="display: inline-block;float: right;padding-right: 15px;">
        重新定位 <i class="icon ion-ios7-location-outline" style="font-size: 18px"></i>
    </div>
</div>
<div class="list" ng-show="shop_info.showAddressSuggestion">
    <div class="item-hint">
        地址列表
    </div>
    <div class="item" ng-repeat="item in shop_info.address_suggestions"
         ng-click="goToSearchAddress(item)">
        <div style="font-size: 16px">
            {{item.title}}
        </div>
        <div style="color: darkgray;font-size: 12px">
            {{item.address}}
        </div>
    </div>
</div>
<div class="list" ng-hide="shop_info.showAddressSuggestion">
    <div class="item-hint">
        附近的便利店
    </div>
    <div ng-show="!shop_items.length" style="color: darkgray;text-align: center;font-size: 12px;padding-top: 10px">
        对不起,小喵还没覆盖到您所在的区域呢~
    </div>
    <div class="item" ng-repeat="item in shop_items"
         ng-click="goToShop(item)" ng-include = "'shop-item.html'">
    </div>
</div>
<div class="list" ng-if="shop_info.showShopHistory" style="margin-bottom: 5px" ng-hide="shop_info.showAddressSuggestion">
    <div class="item-hint" ng-show="shop_history.length">
        历史店铺
    </div>
    <div class="item-shop-history" ng-repeat="item in shop_history" ng-click="goToShop(item)" style="">
        {{item.name}}
    </div>
</div>
<script id="shop-item.html" type="text/ng-template">
    <div style="padding-top: 6px;padding-left: 13px;padding-bottom: 0px;padding-right: 13px;">
        <div>
            <div style="font-size: 16px;display: inline-block;color: #191919">
                {{item.name}}
            </div>
            <div style="display: inline-block;margin-left: 2px">
                <rating ng-model="item.rate" max="item.maxRate" readonly></rating>
            </div>
            <div ng-class="{'shopItemStatusOpen':!item.status,'shopItemStatusClosed': item.status }">
                {{item.status | getShopStatusString }}
            </div>
        </div>
        <div style="margin-top: 12px;color: #6a6a6a">
            <div style="font-size: 12px;">
                <div style=" display: inline-block" ng-show="item.open_time || item.close_time">
                    <i class="icon ion-ios7-clock" style="font-size: 15px;margin-right: 9px;color: lightgray"></i> 早{{item.open_time| date:'shortTime' | removeAMPM}} - 晚{{item.close_time| date:'shortTime' | removeAMPM}}
                </div>
                <div style=" display: inline-block;" ng-show="!item.open_time && !item.close_time">
                    <i class="icon ion-ios7-clock" style="font-size: 15px;margin-right: 9px;color: lightgray"></i>全天营业
                </div>
                <div style=" display: inline-block; padding-left: 20px">
                    <i class="icon ion-ios7-pricetags" style="font-size: 15px;margin-right: 9px;color: lightgray"></i> {{ item.base_price | getShopMinPrice }}元起送
                </div>
            </div>
            <div class="item-text-wrap" style="font-size: 12px;" ng-show="item.shop_address">
                <i class="icon ion-ios7-location" style="font-size: 15px;margin-right: 12px;color: lightgray"></i>地址: {{item.shop_address}}
            </div>
            <div class="item-text-wrap" style="font-size: 12px;color: #ef5356" ng-show="item.shop_info">
                <i class="icon ion-ios7-navigate" style="font-size: 15px;margin-right: 9px;color: lightgray"></i>服务区域: {{item.shop_info}}
            </div>
        </div>
    </div>
</script>