<ion-view>

    <ion-nav-bar class="bar-dark">

        <ion-nav-back-button class="button-dark button-clear">
            <i class="ion-arrow-left-c light"></i>
        </ion-nav-back-button>

        <ion-nav-title>
            添加新地址
        </ion-nav-title>

    </ion-nav-bar>

    <ion-content padding="false"
                 has-tabs="false"
                 has-header="false">

        <div style="" class="addNewAddressIntoList js-addAddress">

            <div class="addNewAddressHint" style="text-shadow:none">
                添加收货人信息
            </div>
            <div style="border-bottom: solid 1px lightgray;padding: 10px 10px 10px 10px" class="item">
                <input class="addressInput" type="text" placeholder="收货地址:" ng-model='address.address' value="" style="padding-left:10px;border: solid 1px lightgray;border-radius: 5px;">
                <input class="addressInput" type="number" placeholder="联系电话:" ng-model='address.phone' value="" style="padding-left:10px;border: solid 1px lightgray;border-radius: 5px;margin-top: 10px">
            </div>

            <div style="text-align: center;padding-top: 20px;display: inline-block;width: 100%">
                <div class="newAddressButton confirmNewAddress" style="" ng-click="addNewAddressConfirm()">确定</div>
                <div class="newAddressButton cancelNewAddress" style="margin-left: 10px" ng-click="addNewAddressCancel()">取消
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>