<ion-view>

    <ion-content padding="false"
                 has-tabs="false"
                 has-header="false">

        <div style="" class="addNewAddressIntoList js-addAddress">

            <div class="addNewAddressHint" style="text-shadow:none">
                添加收货人信息
            </div>
            <div style="border-bottom: solid 1px lightgray;padding: 0px 0px 9px 0px">
                <input class="addOrderAddress" type="text" placeholder="收货地址:" ng-model='address.address' value="">
                <input class="addOrderPhone" type="number" placeholder="联系电话:" ng-model='address.phone' value="">
            </div>

            <div style="text-align: center;padding-top: 20px;display: inline-block;width: 100%">
                <div class="newAddressButton confirmNewAddress" style="" ng-click="addNewAddressConfirm()">确定</div>
                <div class="newAddressButton cancelNewAddress" style="margin-left: 10px" ng-click="addNewAddressCancel()">取消
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>