<ion-view>
    <ion-nav-bar class="bar-light addressListBar" align-title="center">
        <ion-nav-back-button class="button-dark button-clear">
            <i class="ion-chevron-left dark"></i> 返回
        </ion-nav-back-button>
        <ion-nav-title>
            选择送货地址
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content padding="false"
                 has-tabs="false"
                 scroll="true"
                 has-header="false">

        <div class="list" style=" background-color: #ededed;" ng-if="addressls != undefined">
            <div class="addressListHeader" ng-if="addressls && addressls.length">
                常用地址
            </div>
            <div class="addressItem addressdefault addressSelected item-icon-right"
                 ng-class="{'addressSelected': addr.isDefault ,'addressUnselected':  !addr.isDefault}"
                 bindonce
                 quick-ng-repeat="addr in addressls"
                 ng-click="setDefaultAddress(addr)">
                <div class="addressItem-address"><span
                        class="addressTitle">收货地址:</span>
                    {{addr.address}}
                </div>
                <div class="addressItem-phone"><span
                        class="addressTitle">联系电话:</span>
                    {{addr.phone}}
                </div>
                <div class="icon balanced commonSelected" ng-class="{'ion-ios7-checkmark':addr.isDefault,'ion-ios7-circle-outline':!addr.isDefault}"
                   style="right: 20px"></div>
            </div>
            <div class="addressListHeader">
                使用其他地址
            </div>
            <div class="item" style="padding-left: 20px">
                <input class="addressInput"  style="border: none !important;border-bottom: solid 1px #eaeaea;"
                       type="text" placeholder="收货地址:" value="" ng-model="newAddress.address"
                       required>
                <input class="addressInput"
                       type="tel" placeholder="联系电话:" value="" ng-model="newAddress.phone"
                       required style="border: none !important; margin-top: 10px">
            </div>
            <div style="position: absolute; left: 10;right: 10;padding-top: 40px">
                <button class="button button-block button-assertive"
                        style="height: 40px"
                        ng-disabled = "!newAddress.address || !newAddress.phone"
                        ng-click="addNewAddressConfirm()">确定</button>
            </div>
        </div>
    </ion-content>
</ion-view>