<ion-view>

    <ion-header-bar class="bar-lightgary" style="text-align: left;">
        <!--<ion-nav-back-button class="button button-positive button-clear">-->
        <!--&lt;!&ndash;<i class="ion-arrow-left-c"></i>&ndash;&gt;-->
        <!--</ion-nav-back-button>-->
        <div style="font-size: 11px;margin: auto 10px; text-align: left">
            {{info.locationMessage}}
        </div>
        <!--<ion-nav-buttons side="primary">-->
        <!--<button class="button button-clear button-positive" ng-click="relocation()">重新定位</button>-->
        <!--</ion-nav-buttons>-->
    </ion-header-bar>

    <ion-content padding="false"
                 has-tabs="false"
                 has-header="true">

        <div ng-include src="'/views/sg/templates/shoplist.html'">

        </div>

    </ion-content>
</ion-view>