<ion-view>

    <ion-header-bar class="bar-lightgary" style="text-align: left;">
        <!--<ion-nav-back-button class="button button-positive button-clear">-->
        <!--&lt;!&ndash;<i class="ion-arrow-left-c"></i>&ndash;&gt;-->
        <!--</ion-nav-back-button>-->
        <div style="font-size: 12px;margin: auto 10px; text-align: left">
            您可以从下面选择或搜索你所在的小区
        </div>
        <!--<ion-nav-buttons side="primary">-->
        <!--<button class="button button-clear button-positive" ng-click="relocation()">重新定位</button>-->
        <!--</ion-nav-buttons>-->
    </ion-header-bar>

    <ion-content padding="false"
                 has-tabs="false"
                 has-header="false">

        <div style=";height: 57px;padding-top: 10px;">
            <div id="search-box" class="item-input-inset"
                 style=";margin: auto;height: 36px">
                <div class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon assertive" style="font-size: 20px"></i>
                    <input type="search" placeholder="请输入商店名称或者地址" ng-model="shop_data.searchQuery"
                           ng-focus="startSearch()" ng-change="startSearch()" style="color: #7a7a7a">
                    <i class="clear-search icon ion-ios7-close-empty" style="font-size: 20px"
                       ng-click="clearSearch()"></i>
                </div>
            </div>
        </div>

        <div class="list" ng-show="showShopList">
            <div class="item-hint">
                商店列表
            </div>
            <div class="item" ng-repeat="item in shop_items | filter: shop_data.searchQuery"
                 ng-click="goToShop(item)">

                <div>
                    <div style="font-size: 14px;display: inline-block">{{item.name}}</div>
                    <div style="display: inline-block; float:right;font-size: 14px;color: #ffffff;background-color: red;padding: 1px 3px 1px 3px;border-radius: 8px">
                        {{item.status4V}}
                    </div>
                </div>

                <div>
                    <div style="font-size: 10px;display: inline-block">
                        <i class="icon ion-ios7-location" style="font-size: 12px"></i> &nbsp;{{item.shop_address}}
                    </div>
                    <div style="font-size: 10px;display: inline-block;position:absolute;right: 15">
                        {{item.open_time| date:'shortTime'}} - {{item.close_time| date:'shortTime'}}
                    </div>
                </div>

            </div>
        </div>

        <div class="list" ng-if="showShopHistory" style="margin-bottom: 5px">

            <div class="item-hint" ng-show="shop_history.length">
                历史位置
            </div>
            <div class="item-shop-history" ng-repeat="item in shop_history" ng-click="goToShop(item)" style="">
                {{item.name}}
            </div>
        </div>

        <div class="list" ng-show="showShopHot">
            <div class="item-hint">
                热门店铺
            </div>
            <div class="item" ng-repeat="item in shop_items | filter: shop_data.searchQuery"
                 ng-click="goToShop(item)">

                <div>
                    <div style="font-size: 14px;display: inline-block">{{item.name}}</div>
                    <div style="display: inline-block; float:right;font-size: 14px;color: #ffffff;background-color: red;padding: 1px 3px 1px 3px;border-radius: 8px">
                        {{item.status4V}}
                    </div>
                </div>

                <div>
                    <div style="font-size: 10px;display: inline-block">
                        <i class="icon ion-ios7-location" style="font-size: 12px"></i> &nbsp;{{item.shop_address}}
                    </div>
                    <div style="font-size: 10px;display: inline-block;position:absolute;right: 15">
                        {{item.open_time| date:'shortTime'}} - {{item.close_time| date:'shortTime'}}
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>