<ion-view>

    <ion-header-bar class="bar-lightgary" style="text-align: left;">
        <!--<ion-nav-back-button class="button button-positive button-clear">-->
        <!--&lt;!&ndash;<i class="ion-arrow-left-c"></i>&ndash;&gt;-->
        <!--</ion-nav-back-button>-->
        <div style="display: inline-block;width: 100%">
            <div style="font-size: 12px;margin: auto 10px;padding-top: 8px; text-align: left;display: inline-block;float: left">
                {{shop_info.locationMessage}}
            </div>

            <div style="font-size: 8px;display: inline-block;float: right;padding-right: 10px;color: #ffffff">
                <button class="button button-icon ion-ios7-location-outline" style="color: #ffffff;font-size: 8px" ng-click="relocation()"></button>
            </div>
        </div>
        <!--<ion-nav-buttons side="primary">-->
        <!--<button class="button button-clear button-positive" ng-click="relocation()">重新定位</button>-->
        <!--</ion-nav-buttons>-->
    </ion-header-bar>

    <ion-content padding="false"
                 has-tabs="false"
                 has-header="true">

        <div ng-include src="'/views/sg/templates/shoplist.html'">

        </div>

    </ion-content>
</ion-view>