<ion-view>
    <ion-nav-bar class="bar-light orderHeaderbar headerBarWithShadow">
        <ion-nav-buttons side="left" class="">
            <button class="button button-clear" ng-click="goToShopOrFindShop()"><i class="ion-chevron-left dark">&nbsp;首页</i></button>
        </ion-nav-buttons>
        <ion-nav-title>
            我的订单
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content padding="false"
                 has-tabs="false"
                 has-header="true"
                 scroll="true">
        <div ng-if="addressls && addressls.length">
            <div class="addressItem addressDefault addressSelected item-icon-right" ng-click="goToAddressList()">
                <div class="addressItem-address">
                    <span class="addressTitle">收货地址:</span>
                    {{addressls[0].address}}
                </div>
                <div class="addressItem-phone">
                    <span class="addressTitle">联系电话:</span>
                    {{addressls[0].phone}}
                </div>
                <a class="icon baseRedColor ion-ios7-arrow-right" style="right: 20px"></a>
            </div>
        </div>
        <div class="addNewAddressContainer" ng-if="info.hasAddress == false && info.hasShop"
             ng-animate="{show:'animate-show', hide:'animate-hide'}">
            <!--<div class="addNewAddressHint">-->
            <!--您还没有添加收货人信息,请添加-->
            <!--</div>-->
            <div class="checkoutBasePadding text-center">
                <a class="icon icon-2x ion-ios7-plus-outline" style="font-size: 14px"
                   ng-click="switchToAddressList($event)"> 添加新地址</a>
            </div>
        </div>
        <div class="noOrderHint" ng-if="info.hasOrder == false">
            <div class="noOrderImageHint"></div>
            <div style="padding-top: 30px;color: #7a7a7a;font-size: 14px">还没有订单</div>
            <div class="noOrderGotoShop" ng-click="goToShopOrFindShop()">
                去逛逛?
            </div>
        </div>
        <div class="order-list" style="" ng-if="info.hasOrder == true">
            <div class="orderListHeader" ng-if="latestOrder && latestOrder.length">
                最新订单
            </div>
            <div style="padding: 0px 20px 0px 20px;" ng-if="latestOrder && latestOrder.length">
                <div class="order-items" style="" bindonce ng-repeat="order in latestOrder"
                     ng-include="'templates/snapshotOrder.html'">
                </div>
            </div>
            <div class="orderListHeader" ng-if="historyOrder && historyOrder.length">
                历史订单
            </div>
            <div style="padding: 0px 20px 0px 20px;" ng-if="historyOrder && historyOrder.length">
                <div class="order-items" style="" bindonce ng-repeat="order in historyOrder"
                     ng-include="'templates/snapshotOrder.html'">
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>

<script id="templates/snapshotOrder.html" type="text/ng-template">
    <div class="orderSnapshotHeader">
        <div class="orderId" bo-text="($index + 1) + '. ' + order.shop_name4V "></div>
        <div class="orderDate" bo-text="(order.create_time | date:'yyyy-MM-dd H:mm')"></div>
    </div>
    <div class="orderSnapshot" bindonce quick-ng-repeat="orderItem in order.items">
        <div class="prod_icon" back-img="{{orderItem.pic_url}}"></div>
        <div><span class="orderSnapshotItemName oneline" bo-text="orderItem.name"></span></div>
        <div class="orderSnapshotItemPrice">
            <span bo-text="'¥'+ orderItem.price/100.0"></span>
            <span class="orderSnapshotCountNumber" bo-text="' X ' + orderItem.count"></span>
        </div>
    </div>
    <div class="orderSnapshotRemark" bo-text="'买家留言: ' + order.remarks" ng-if="order.remarks"></div>
    <div class="orderSnapshotTotal">
        <span class="orderSnapshotCountNumber">共计:</span> {{order.items | getTotolCount }} 件
                        <span style="color: red;padding-right: 8px">￥ {{order.items | getTotolPrice }}
                        </span>
    </div>
</script>