<ion-view>
    <ion-nav-bar class="bar-light orderHeaderbar">
        <ion-nav-buttons side="left" class="button-dark">
            <button class="button button-outline dark" ng-click="goToShopOrFindShop()">首页</button>
        </ion-nav-buttons>
        <ion-nav-title>
            我的订单
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content padding="false"
                 has-tabs="false"
                 has-header="true"
                 scroll="true">

        <div ng-if="addressls && addressls.length">
            <div class="addressItem addressDefault addressSelected item-icon-right" ng-click="goToAddressList()">
                <div class="addressItem-address">
                    <span class="addressTitle">收货地址:</span>
                    {{addressls[0].address}}
                </div>
                <div class="addressItem-phone">
                    <span class="addressTitle">联系电话:</span>
                    {{addressls[0].phone}}
                </div>
                <a class="icon balanced ion-ios7-checkmark" style="right: 20px"></a>
            </div>
        </div>

        <div class="addNewAddressContainer" ng-if="info.hasAddress == false && info.hasShop" ng-animate="{show:'animate-show', hide:'animate-hide'}">
            <div class="addNewAddressHint">
                您还没有添加收货人信息,请添加
            </div>
            <div class="checkoutBasePadding">
                <input class="addressInput"  style="border-bottom: solid 1px #eaeaea;"
                       type="text" placeholder="收货地址:" value="" ng-model="addr.address"
                       required ng-focus="switchToAddressList($event)">
                <input class="addressInput"
                       type="number" placeholder="联系电话:" value="" ng-model="addr.phone"
                       required style="border-bottom: none;margin-top: 10px" ng-focus="switchToAddressList($event)">
            </div>
        </div>

        <div class="noOrderHint" ng-if="info.hasOrder == false">
            <div class="noOrderImageHint"></div>
            <div style="padding-top: 30px;color: #7a7a7a;font-size: 14px">还没有订单</div>
            <div class="noOrderGotoShop" ng-click="goToShopOrFindShop()">
                去逛逛?
            </div>
        </div>

        <div class="order-list" style="" ng-if="info.hasOrder == true">
            <div class="order-item" style="" bindonce quick-ng-repeat="order in orders track by order.order_id">
                <div style="display: inline-block;background-color: #EFF0F4;width: 100%;">
                    <div class="orderDate">{{order.create_time | date:'yyyy-MM-dd hh:mm'}}</div>
                    <div class="orderStatus" bo-text="order.status4V">
                    </div>
                </div>
                <div style="padding: 15px 9px 15px;border-bottom: solid 1px lightgray;">
                    <div bo-text="'收货地址: ' + order.address"></div>
                    <div bo-text="'联系电话: '+ order.phone"></div>
                    <div style="margin-top: 10px;color: #808080" bo-text="'买家留言:' + order.remarks"></div>
                </div>
                <div style="padding: 15px 9px 15px;" class="order-snapshots">
                    <div class="orderSnapshot" bindonce quick-ng-repeat="orderItem in order.items">
                        <div class="orderSnapshotItem" bo-text="orderItem.name">
                        </div>
                        <div class="orderSnapshotCount">
                            <span>￥</span> {{(orderItem.price || 0)/100.0}}<span
                                class="orderSnapshotCountNumber"> X {{orderItem.count}} </span>
                        </div>
                    </div>
                    <div class="orderSnapshotTotal">
                        <span class="orderSnapshotCountNumber">共计:</span> {{order.items | getTotolCount }} 件
                        <span style="color: red;padding-right: 8px">￥ {{order.items | getTotolPrice }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>