<div class="prod_icon_clickable"></div>
<div class="prod_icon" back-img="{{item.pic_url}}"></div>
<div>
    <span class="product-title oneline js-product-item-name">{{item.name}}</span>

    <div class="prod_info">
        <div class="product-price js-product-item-price" data-value="$item.price">
            <span style="font-weight: normal">¥{{item.price/100}}.{{item.price%100}}</span>
        </div>
        <div class="product_stepper">
            <div class="product_stepper_minus countChangeAction countChangeActionMinus" ng-click="removeItem(item)">
                -
            </div>
            <div class="product_stepper_count countChangeAction countChangeActionSet js-product-item-quantity">
                {{item.count}}
            </div>
            <div class="product_stepper_add countChangeAction countChangeActionAdd" ng-click="selectItem(item)">
                +
            </div>
        </div>
    </div>
</div>