<ion-view>

    <!--<ion-header-bar class="bar-dark" style="text-align: left;">-->

    <!--<div class="buttons">-->
    <!--<button class="button button-outline button-icon ion-ios7-person" ng-click=""></button>-->
    <!--</div>-->

    <!--<h1 class="title">-->
    <!--{{shop.name}} <i class="icon ion-chevron-down" style=" font-size: 15px !important"></i>-->
    <!--</h1>-->

    <!--<div class="buttons">-->
    <!--<button class="button button-outline button-icon ion-ios7-search assertive" ng-click="goToSearch()"></button>-->
    <!--</div>-->

    <!--</ion-header-bar>-->

    <!--<ion-nav-bar class="bar-dark">-->

    <!--</ion-nav-bar>-->

    <ion-nav-bar class="bar-dark">

        <ion-nav-back-button class="button-dark button-clear">
            <i class="ion-arrow-left-c light"></i>
        </ion-nav-back-button>

        <ion-nav-buttons side="left" class="button-dark">
            <button class="button button-outline button-icon ion-ios7-person" ng-click=""></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-outline button-icon ion-ios7-search assertive"
                    ng-click="goToSearch()"></button>
        </ion-nav-buttons>

        <ion-nav-title ng-click="switchShop()">
            {{shop.name}}<i class="icon ion-chevron-down" style=" font-size: 15px !important"></i>
        </ion-nav-title>

    </ion-nav-bar>

    <ion-content padding="false"
                 has-tabs="false"
                 has-header="true"
                 scroll="false"
                 has-bouncing="false" style="bottom: 49; top: 45">

        <div class="commonProductList" style="overflow: hidden">

            <div class="leftContainer">

                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             scrollbar-y="false"
                             overflow-scroll="false">

                        <div class="shop-categray-list" style="width: 100%;">
                            <ul style="margin: 0.0em;padding: 0px;">
                                <li ng-repeat="category in categoryls" class="shop-categray"
                                    ng-click="selectCategory(category)"
                                    ng-class="{'shop-categray-selected': category.selected}">
                                    <div class="shop-categray-item-decorate" ng-show="category.selected"></div>
                                    <div class="shop-categray-item" style=""
                                         ng-class="{'shop-categray-item-selected': category.selected}">{{ category.name
                                        }}
                                    </div>
                                    <div class="shop-categray-item-edge" ng-show="category.totalCnt">
                                        {{category.totalCnt}}
                                    </div>
                                </li>
                            </ul>
                        </div>

                </ion-content>

            </div>

            <div class="rightContainer">

                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             overflow-scroll="false"
                             delegate-handle="productScroll">


                        <div class="shop-product-list">
                            <ul class="shop-product-categray-list js-shop-product-categray-list list">
                                <li ng-repeat="item in currentDisplayItems" class="product-item js-product-item"
                                    ng-include
                                    src="'/views/sg/templates/productDetail.html'">
                                </li>

                                <ion-infinite-scroll
                                        ng-if="moreDataCanBeLoaded()"
                                        icon="ion-loading-c"
                                        on-infinite="addItems()">
                                </ion-infinite-scroll>

                            </ul>

                        </div>

                </ion-content>
            </div>
        </div>

    </ion-content>

    <div class="shoppingCartDisplay cssSlideUp" ng-hide="!info.showCart">

        <div class="shoppingCartList" ng-controller="ShoppingCartCtrl" ng-include
             src="'/views/sg/templates/shoppingCart.html'">
        </div>
    </div>

    <ion-footer-bar class="bar-light" style="padding:0; overflow: hidden;height: 49px;">
        <div class="footer-container-left base-sidebar-shopping-cart js-shopping-cart" ng-click="showShoppingCart()">
            <span><img src="/images/cart-64.png" class="base-icon-shopping-cart"></span>
        </div>
        <div class="footer-container-right base-cart-prepare js-cart-checkout" style="">
            <button class="sidebar-cart-checkout js-cart-checkout"
                    ng-class="{'sidebar-cart-checkout-ready': cartReadyToShip }" ng-click="checkout()">
                <span class=" base-font js-checkout-hit">{{checkoutHintMessage}}</span>
                        <span class="base-font"><br>
                            总计: <span id="js-shop-total-count" class="js-shop-total-count base-font ">{{shoppingCartItems | getTotolCount}}</span> 件</span>
                <span class="base-font rmbSpan">￥</span><span id="js-shop-total-price"
                                                              class="js-shop-total-price base-font">{{shoppingCartItems | getTotolPrice}}</span>
            </button>
        </div>
    </ion-footer-bar>


</ion-view>