<ion-view>

    <input type="hidden" value="$shop.id" name="shop_id" ng-model="shopId" ng-init="shopId='$shop.id'">

    <ion-header-bar class="bar-dark" style="text-align: left;">

        <div class="buttons">
            <button class="button button-outline button-icon ion-ios7-person" ng-click=""></button>
        </div>


        <h1 class="title">
            <!--<a href="loading#/findshop" data-ajax="false" style="cursor:pointer;-->
            <!--text-decoration:none; color:#000000;font-size: 18px;font-weight: normal">-->
            <!--$shop.name<i class="fa fa-angle-down" style="padding-left: 5px"></i>-->
            <!--</a>-->

            {{shop.name}}
        </h1>

        <div class="buttons">
            <button class="button button-outline button-icon ion-ios7-search assertive"></button>
        </div>

        <!--<button class="button button-icon base-icon-user button-positive" ng-click="">-->
        <!--我的-->
        <!--</button>-->
        <!--<div id="search-box" class="item-input-inset"-->
        <!--style=";margin: auto;">-->
        <!--<div class="item-input-wrapper">-->
        <!--<i class="icon ion-ios7-search placeholder-icon assertive" style="font-size: 20px"></i>-->
        <!--<input type="search" placeholder="请输入商店名称或者地址" ng-model="shop_data.searchQuery"-->
        <!--ng-focus="startSearch()" ng-change="startSearch()" style="color: #7a7a7a">-->
        <!--<i class="clear-search icon ion-ios7-close-empty" style="font-size: 20px"-->
        <!--ng-click="clearSearch()"></i>-->
        <!--</div>-->
        <!--</div>-->
    </ion-header-bar>

    <ion-content padding="true"
                 has-tabs="false"
                 has-header="true">

        <div class="commonProductList">

            <div class="leftContainer">
                <div class="leftContent">
                    <div class="shop-categray-list" style="width: 90%">
                        <ul style="margin: 0.0em;padding: 0px;padding-top: 2px;">
                            <li ng-repeat="category in categoryls" class="shop-categray"
                                ng-click="selectCategory(category)"
                                ng-class="{'shop-categray-selected': category.selected , 'shop-categray': !category.selected}">
                                <div class="shop-categray-item-decorate" ng-show="category.selected"></div>
                                <div class="shop-categray-item" style="">{{ category.name }}</div>
                                <div class="shop-categray-item-edge" ng-show="category.totalCnt">
                                    {{category.totalCnt}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="rightContainer">
                <div class="rightContent">

                    <div class="shop-product-list">
                        <ul class="shop-product-categray-list js-shop-product-categray-list list">
                            <li ng-repeat="item in currentDisplayItems" class="product-item js-product-item">
                                <div class="prod_icon_clickable"></div>
                                <div class="prod_icon" back-img="{{item.pic_url}}"></div>
                                <div>
                                    <span class="product-title oneline js-product-item-name">{{item.name}}</span>

                                    <div class="prod_info">
                                        <div class="product-price js-product-item-price" data-value="$item.price">
                                            <span style="font-weight: normal">¥{{item.price/100}}.{{item.price%100}}</span>
                                        </div>
                                        <div class="product_stepper">
                                            <div class="product_stepper_minus countChangeAction countChangeActionMinus"
                                                 ng-click="removeItem(item)">
                                                -
                                            </div>
                                            <div class="product_stepper_count countChangeAction countChangeActionSet js-product-item-quantity">
                                                {{item.count}}
                                            </div>
                                            <div class="product_stepper_add countChangeAction countChangeActionAdd"
                                                 ng-click="selectItem(item)">
                                                +
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ion-infinite-scroll
                                ng-if="moreDataCanBeLoaded()"
                                icon="ion-loading-c"
                                on-infinite="addItems()">
                        </ion-infinite-scroll>
                    </div>
                </div>
            </div>

        </div>

        <div class="shoppingCartDisplay cssSlideUp"  ng-hide="!info.showCart">

            <div class="shoppingCartList" ng-controller="ShoppingCartCtrl">
                <div class="shoppingCartListContent">
                    <div class="shop-cart-list">
                        <ul style="margin: 0.0em; padding:0px 9px;" class="">
                            <div style="border-bottom: solid 1px #F54447;">
                                <div class="clearShoppingCart" style="" ng-click="clearShoppingCart()">
                                    <span><img src="/images/trash-64.png" class="base-icon-empty-cart"><span style="float: right;padding-top: 12px;">清空购物车</span></span>
                                </div>
                            </div>
                        </ul>
                        <ul style="margin: 0.0em; padding:0px 9px" class="js-shop-cart-list">
                            <li ng-repeat="item in shoppingCartItems" class="product-item js-product-item">
                                <div class="prod_icon_clickable"></div>
                                <div class="prod_icon" back-img="{{item.pic_url}}"></div>
                                <div>
                                    <span class="product-title oneline js-product-item-name">{{item.name}}</span>

                                    <div class="prod_info">
                                        <div class="product-price js-product-item-price" data-value="$item.price">
                                            <span style="font-weight: normal">¥{{item.price/100}}.{{item.price%100}}</span>
                                        </div>
                                        <div class="product_stepper">
                                            <div class="product_stepper_minus countChangeAction countChangeActionMinus"
                                                 ng-click="removeItem(item)">
                                                -
                                            </div>
                                            <div class="product_stepper_count countChangeAction countChangeActionSet js-product-item-quantity">
                                                {{item.count}}
                                            </div>
                                            <div class="product_stepper_add countChangeAction countChangeActionAdd"
                                                 ng-click="selectItem(item)">
                                                +
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar class="bar-light" style="padding-top: 0;padding-bottom: 0;overflow: hidden">
        <div class="footer-container-left base-sidebar-shopping-cart js-shopping-cart" ng-click="showShoppingCart()">
            <span><img src="/images/cart-64.png" class="base-icon-shopping-cart"></span>
        </div>
        <div class="footer-container-right base-cart-prepare js-cart-checkout" style="">
            <button class="sidebar-cart-checkout js-cart-checkout"
                    ng-class="{'sidebar-cart-checkout-ready': cartReadyToShip }" ng-click="checkout()">
                <span class=" base-font js-checkout-hit">去结算</span>
                        <span class="base-font"><br>
                            总计: <span id="js-shop-total-count" class="js-shop-total-count base-font ">{{shoppingCartItems | getTotolCount}}</span> 件</span>
                <span class="base-font rmbSpan">￥</span><span id="js-shop-total-price"
                                                              class="js-shop-total-price base-font">{{shoppingCartItems | getTotolPrice}}</span>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>