<ion-view>
    <ion-nav-bar class="bar-light homepageHeaderBar headerBarWithShadow">
        <ion-nav-buttons side="left">
            <button class="button button-clear button-outline button-icon ion-ios7-person-outline"
                    ui-sref="myOrders"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear button-icon button-assertive ion-ios7-search"
                    ng-click="goToSearch()"></button>
        </ion-nav-buttons>
        <ion-nav-title ng-click="switchShop()">
            {{shop.name}} <i class="icon ion-chevron-down" style=" font-size: 15px !important"></i>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="homepageContent"
                 padding="false"
                 has-tabs="true"
                 has-header="true"
                 scroll="false"
                 has-bouncing="false">
        <div class="commonProductList" ng-if="categoryls && categoryls.length">
            <div class="leftContainer">
                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             scrollbar-y="false"
                             overflow-scroll="false">
                    <div class="shop-categray-list" style="width: 100%;font-size: 15px">
                        <ul style="margin: 0;padding-top: 0px; padding-bottom: 50px">
                            <li bindonce quick-ng-repeat="category in categoryls track by category.category_id"
                                class="shop-categray "
                                ng-click="selectCategory(category)"
                                ng-class="{'shop-categray-selected': category.selected}">
                                <div class="shop-categray-item-decorate" ng-if="category.selected"
                                     ng-animate="{show:'animate-show', hide:'animate-hide'}"></div>
                                <div bo-text="category.name" class="shop-categray-item"
                                     ng-class="{'shop-categray-item-selected': category.selected}">
                                </div>
                                <div class="shop-categray-item-edge" ng-if="category.totalCnt">
                                    {{category.totalCnt}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </ion-content>
            </div>
            <div class="rightContainer">
                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             overflow-scroll="false"
                             delegate-handle="productScroll">
                    <div class="shop-product-list" ng-if="currentDisplayItems && currentDisplayItems.length">
                        <ul class="shop-product-categray-list list" style="padding-bottom: 50px">
                            <li bindonce quick-ng-repeat="item in currentDisplayItems track by item.id"
                                class="product-item js-product-item">
                            <!--ng-include-->
                            <!--src="'/views/sg/templates/productDetail.html'">-->
                            <!-- add all src here for performance issue -->
                            <div class="prod_icon_clickable" ng-click="showImage(item)"></div>
                            <div class="prod_icon" back-img="{{item.pic_url}}"></div>
                            <div class="prod_detail_info">
                                <span class="product-title oneline" bo-text="item.name">
                                </span>
                                <div class="prod_info">
                                    <div class="product-price">
                                        <span bo-text="'¥'+ item.price/100.0"></span>
                                    </div>
                                    <div class="product_stepper">
                                        <div class="product_stepper_minus baseRedColor icon ion-ios7-minus-outline"
                                             ng-click="removeItem(item)" ng-show="item.count">
                                        </div>
                                        <div class="product_stepper_count" ng-show="item.count">
                                            {{item.count}}
                                        </div>
                                        <div class="product_stepper_add baseRedColor icon ion-ios7-plus" ng-click="selectItem(item)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </li>
                            <ion-infinite-scroll
                                    ng-if="moreDataCanBeLoaded()"
                                    icon="ion-loading-c"
                                    on-infinite="addItems()">
                            </ion-infinite-scroll>
                        </ul>
                    </div>
                </ion-content>
            </div>
        </div>
    </ion-content>
    <div class="shoppingCartDisplayBackground" bn-common-show="info.showCart" ng-click="info.showCart = !info.showCart">
    </div>
    <div class="shoppingCartDisplay" bn-slide-show="info.showCart" slide-show-duration="2000">
        <div class="shoppingCartList" ng-controller="ShoppingCartCtrl" ng-include
             src="'/views/sg/templates/shoppingCart.html'">
        </div>
    </div>
    <ion-footer-bar class="bar-light homepageFooterBar" ng-if="categoryls && categoryls.length">
        <div class="row nonPadding">
            <div class="col nonPadding">
                <div class="row nonPadding" >
                    <div class="col text-center nonPadding" style="padding-top: 13px;" ng-click="showShoppingCart()">

                        <span style="position: relative">
                            <span class="assertive-bg assertive-border light shoppingCartBadge"
                                  ng-if="info.shoppingCartItems && info.shoppingCartItems.length">
                                {{info.shoppingCartItems | getTotolCount}}
                            </span>
                            <!--<img src="/images/cart-64.png" class="base-icon-shopping-cart">-->
                            <button class="button button-clear button-assertive button-icon"
                                    ng-class="{'ion-ios7-cart': info.cartReadyToShip, 'ion-ios7-cart-outline':!info.cartReadyToShip}">
                            </button>
                        </span>
                    </div>
                    <div class="col nonPadding" style="padding-top: 4px;margin-left: 10px">
                        <p class="text-left" style="font-size: 11px;margin: 0">总计:</p>
                        <p class="text-left assertive" style="font-size: 17px;margin: 0">￥{{info.shoppingCartItems | getTotolPrice}}</p>
                    </div>
                </div>
            </div>
            <div class="col text-center nonPadding">
                <button class="button button-assertive button-block shoppingCartHintMessage"
                        ng-class="{'button-outline': !info.cartReadyToShip }"
                        ng-click="checkout()">{{info.checkoutHintMessage}}
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>