<ion-view>

    <ion-header-bar class="bar-lightgary" style="text-align: left;">
        <div id="search-box" class="item-input-inset"
             style="width: 100%;">
            <div class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon assertive" style="font-size: 20px"></i>
                <input type="search" placeholder="请输入商品名称" ng-model="shop_data.searchQuery"
                       ng-focus="startSearch()" ng-change="startSearch()" style="color: #7a7a7a">
                <i class="clear-search icon ion-ios7-close-empty" style="font-size: 20px"
                   ng-click="clearSearch()"></i>
            </div>
        </div>
    </ion-header-bar>

    <ion-content padding="true"
                 has-tabs="false"
                 has-header="true">
        <div class="shop-product-list">
            <ul style="margin: 0.0em; padding:0px 9px" class="js-search-result-list">
                <li ng-repeat="item in searchResultsItems" class="product-item js-product-item">
                    <div class="prod_icon_clickable"></div>
                    <div class="prod_icon" back-img="{{item.pic_url}}"></div>
                    <div>
                        <span class="product-title oneline js-product-item-name">{{item.name}}</span>

                        <div class="prod_info">
                            <div class="product-price js-product-item-price" data-value="$item.price">
                                <span style="font-weight: normal">¥{{item.price/100}}.{{item.price%100}}</span>
                            </div>
                            <div class="product_stepper">
                                <div class="product_stepper_minus countChangeAction countChangeActionMinus"
                                     ng-click="removeItem(item)">
                                    -
                                </div>
                                <div class="product_stepper_count countChangeAction countChangeActionSet js-product-item-quantity">
                                    {{item.count}}
                                </div>
                                <div class="product_stepper_add countChangeAction countChangeActionAdd"
                                     ng-click="selectItem(item)">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <div class="no-result-display" style="text-align: center">
                    没有结果
                </div>

            </ul>
        </div>

        </ion-content>

</ion-view>