<ion-modal-view ng-controller="FindShopCtrl">

    <ion-header-bar class="bar bar-header bar-dark">
        <button class="button button-clear button-icon ion-ios7-location-outline" ng-click="relocation()" ></button>
        <h2 class="title" style="font-size: 12px">{{shop_info.locationMessage}}</h2>
        <button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>
    </ion-header-bar>

    <ion-content padding="false"
                 has-tabs="false"
                 has-header="true" >
    <div ng-include src="'/views/sg/templates/shoplist.html'" ng-controller="FindShopCtrl">

    </div>

    </ion-content>

</ion-modal-view>
