<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-mmiao" align-title="center">
        <h1 class="title">添加新小区</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">取消</button>
    </ion-header-bar>
    <ion-content padding="false"
                 has-tabs="false"
                 has-header="true"
                 scroll="true"
                 has-bouncing="true">
        <div class="item-input" style="padding: 5px 0 5px 5px">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon assertive"></i>
                <input type="search" placeholder="小区名字" ng-change="action.getCommSuggestions(key)" ng-model="key">
            </label>
            <button class="button button-clear" ng-click="clearSearch()">
                取消
            </button>
        </div>
        <div class="list">
            <div class="item item-icon-right" ng-repeat="commu in info.commSuggestions">
                {{commu.name}}
                <i class="icon  balanced" ng-class="{'ion-ios7-circle-outline':!commu.sel,'ion-ios7-checkmark':commu.sel}" ng-click="action.selectCommunity(commu)"></i>
            </div>
        </div>
        <div class="no-result-display" style="text-align: center" ng-if="commSuggestions.length == 0">
            没有结果
        </div>
    </ion-content>
</ion-modal-view>
