<ion-view view-title="修改密码">

    <ion-nav-bar class="bar-dark">

        <ion-nav-buttons side="left">
            <button class="button button-clear" ui-sref="tab.front-page">
                <i class="icon ion-ios7-arrow-back">返回</i>
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="padding">
        <div class="list padding">

            <div class="item item-input" style="border-left:none;border-right: none;border-top: none">
                <span class="input-label">旧密码:</span>
                <input type="password" ng-model="user.old_password" placeholder="">
            </div>

            <div class="item item-input" style="border-left:none;border-right: none;">
                <span class="input-label">新密码:</span>
                <input type="password" ng-model="user.new_password" placeholder="">
            </div>

            <div class="item item-input" style="border-left:none;border-right: none;">
                <span class="input-label">新密码确认:</span>
                <input type="password" ng-model="user.new_password_confirm" placeholder="">
            </div>

        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="changepwd(user)">
                确定
            </button>
        </div>
    </ion-content>
</ion-view>