<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-mmiao">
        <h1 class="title">订单详情</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">取消</button>
    </ion-header-bar>
    <ion-content padding="true"
                 has-tabs="false"
                 has-header="true"
                 scroll="true"
                 has-bouncing="true"
                 bindonce="order">
        <div class="item item-divider">
            订单时间: {{order.create_time | date:'yyyy-M-d,h:mm:ss a'}}
        </div>
        <div class="item item-icon-right">
            <div class="item-text-wrap">收货地址: {{order.address}}</div>
            <div class="item-text-wrap">联系电话: {{order.phone}}</div>
            <a class="icon balanced ion-ios7-telephone"
                    ng-click="callNumber(order.phone)">
            </a>
        </div>
        <div class="item">
            <div class="item-text-wrap" style="margin-top: 10px;color: #808080" ng-if="order.act == 'wx'"><i
                    class="ion-card balanced"></i>支付方式:微信支付 <span
                    ng-if="order.dprice > 0">［使用优惠券 {{order.dprice/100.0}} 元］</span></div>
            <div class="item-text-wrap" style="margin-top: 10px;color: #808080" ng-if="order.act != 'wx'"><i
                    class="ion-card balanced"></i>支付方式:货到付款
            </div>
            <div class="item-text-wrap" style="margin-top: 10px;color: #808080">买家留言: {{order.remarks}}</div>
        </div>
        <div style="padding: 15px 9px 15px;" class="order-snapshots">
            <div bindonce class="orderSnapshot" quick-ng-repeat="orderItem in order.items">
                <div class="prod_icon">
                    <img ng-src="{{orderItem.pic_url}}" style="width: 70px;height: 70px;border: none">
                </div>
                <div class="orderSnapshotItem">
                    {{orderItem.name}}
                </div>
                <div class="orderSnapshotCount">
                    <span>￥</span> {{(orderItem.price || 0)/100.0}}<span
                        class="orderSnapshotCountNumber"> X {{orderItem.count}} </span>
                </div>
            </div>
            <div class="orderSnapshotTotal">
                <span class="orderSnapshotCountNumber">共计:</span> {{order.items | getTotolCount }} 件
                        <span style="color: red;padding-right: 8px">￥ {{order.items | getTotolPrice }}
                        </span>
            </div>

            <div class="item-input-inset" style="text-align: center">
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-balanced" ng-click="confirmShip(order)"
                                style="margin-right: 10px">确认配送
                        </button>
                    </div>
                    <div class="col">
                        <button class="button button-block button-assertive" ng-click="cannotShip(order)">
                            无法配送
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>>

