<div class="prod_icon" back-img="{{item.pic_url}}"></div>
<div>
    <span class="product-title oneline ">{{item.name}}</span>

    <div class="prod_info">
        <div class="product-price" data-value="$item.price">
            <span style="font-weight: normal">¥ {{item.price/100.0}}</span>
        </div>
        <div class="product_action" ng-controller="EditProductCtrl">
            <a class="mgray button button-small button-icon icon ion-thumbsup" ng-click="StickItem(item)"></a>
            <a class="mgray button button-small button-icon icon ion-settings"  ng-click="EditItem(item)"></a>
        </div>
    </div>
</div>