<ion-modal-view xmlns="http://www.w3.org/1999/html">

    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">添加新商品</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">取消</button>
    </ion-header-bar>

    <ion-content padding="true"
                 has-tabs="false"
                 has-header="true"
                 scroll="true"
                 has-bouncing="true">

        <div class="list">

            <div class="item item-input item-stacked-label item-button-right">
                <span class="input-label assertive">条形码:</span>
                <input type="text" ng-value="newitem.serialNo" ng-model="newitem.serialNo" placeholder="扫描或者填写条形码,点击查一查">
                <button class="button button-assertive " ng-click="openQRScaner()">
                    <i class="icon ion-qr-scanner"></i>扫码
                </button>
            </div>

            <div class="padding">
                <button class="item button-block button button-positive" ng-click="findItem(newitem.serialNo)">
                    查查
                </button>
            </div>

            <label class="item item-input item-select" ng-show="hasProductInfo">
                <div class="input-label assertive">
                    选择分类:
                </div>
                <select ng-model="newitem.currentCateId" ng-options="o.category_id as o.name for o in info.categoryls" ng-change="changeCategroy(newitem.currentCateId)">
                </select>
            </label>
            <label class="item item-input item-stacked-label" ng-show="hasProductInfo">
                <span class="input-label assertive">商品名称:</span>
                <input type="text" ng-value="newitem.name" ng-model="newitem.name">
            </label>

            <label class="item item-input item-stacked-label" ng-show="hasProductInfo">
                <span class="input-label assertive">价格(元):</span>
                <input type="text" ng-value="newitem.price" ng-model="newitem.price">
            </label>

            <label class="item item-input item-stacked-label" ng-show="hasProductInfo">
                <span class="input-label assertive">图片:</span>
                <div class="positive" ng-show="!newitem.pic_url">
                    <p>说明:请填写正确的条形码，</br>
                        喵喵会为您添加高质量图片</p>
                </div>

                <div class="" style="text-align: center" ng-show="newitem.pic_url">
                    <img class="full-image" ng-src="{{newitem.pic_url}}" ng-model="newitem.pic_url" style="width: 300px;height: auto">
                </div>

            </label>

            <label class="item item-input item-select" ng-show="hasProductInfo">
                <div class="input-label assertive">
                    销售状态:
                </div>
                <select ng-model="newitem.saleStatus" ng-options="o.status as o.title for o in [{title:'在售',status:1},{title:'下架',status:0}]" ng-init="newitem.saleStatus=1">
                </select>
            </label>
        </div>

    </ion-content>

    <ion-footer-bar class="bar-light">
        <div class="tabs tabs-icon-left tabs-light">
            <a class="tab-item positive" ng-click="closeModal()">
                <i class="icon ion-close-circled"></i>
                取消
            </a>

            <a class="tab-item positive" ng-click="saveItem(newitem)">
                <i class="icon ion-checkmark-circled"></i>
                保存
            </a>

        </div>
    </ion-footer-bar>

</ion-modal-view>>

