<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">编辑商品</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">取消</button>
    </ion-header-bar>

    <ion-content padding="true"
                 has-tabs="true"
                 has-header="true"
                 scroll="true"
                 has-bouncing="true">

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label assertive">商品名称:</span>
                <input type="text" ng-value="item.updated_name" ng-model="item.updated_name" ng-init="item.updated_name = item.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label assertive">价格(元):</span>
                <input type="number" ng-value="item.updated_price" ng-model="item.updated_price" ng-init="item.updated_price = item.price/100.0">
            </label>

            <label class="item item-input item-select">
                <div class="input-label assertive">
                    销售状态:
                </div>
                <select ng-model="item.saleStatus" ng-options="o.status as o.title for o in [{title:'在售',status:1},{title:'下架',status:0}]" ng-init="item.saleStatus=1">
                    <!--<option selected ng-value="item.online" ng-model="item.online" ng-init="item.online=true">在售</option>-->
                    <!--<option ng-model="item.offline" ng-value="item.offline" ng-init="item.offline=false">下架</option>-->
                </select>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label assertive">图片:</span>
                <div class="" style="text-align: center">
                    <img class="full-image" ng-src="{{item.pic_url}}" ng-model="item.pic_url" style="width: 300px;height: auto">
                </div>
            </label>

            <label class="item item-input-inset" style="text-align: center">
               <button class="button button-full button-assertive" ng-click="deleteItem(item)">删除此商品</button>
            </label>
        </div>

    </ion-content>

    <ion-footer-bar class="bar-light">
        <div class="tabs tabs-icon-left tabs-light">
            <a class="tab-item positive" ng-click="closeModal()">
                <i class="icon ion-close-circled"></i>
                取消
            </a>

            <a class="tab-item positive" ng-click="saveItem(item)">
                <i class="icon ion-checkmark-circled"></i>
                保存
            </a>

        </div>
    </ion-footer-bar>

</ion-modal-view>>

