<div class="prod_icon" back-img="{{item.pic_url}}"></div>
<div>
    <span class="product-title oneline ">{{item.name}}</span>

    <div class="prod_info">
        <div class="product-price" data-value="$item.price">
            <span style="font-weight: normal">¥ {{item.price/100.0}}</span>
        </div>
        <div class="product_action" ng-controller="EditProductCtrl">
            <button class="button button-icon icon " ng-click="VoteItem(item)">
                <i class="energized icon ion-thumbsup"></i>
            </button>
            <button class="button button-icon icon" ng-click="EditItem(item)" ng-show="item.count">
                <i class="energized icon ion-settings"></i>
            </button>
        </div>
    </div>
</div>