<ion-view view-title="喵喵商家">

    <ion-nav-bar class="bar-dark">

        <!--<ion-nav-buttons side="right" class="button-dark">-->
            <!--<button class="button button-icon ion-ios7-personadd" ng-click=""></button>-->
        <!--</ion-nav-buttons>-->

    </ion-nav-bar>

    <ion-content class="padding">

        <div class="list padding">

            <div class="item item-input" style="border-left:none;border-right: none;border-top: none">
                <span class="input-label">用户名</span>
                <input type="text" ng-model="user.name" placeholder="注册店名">
            </div>
            <div class="item item-input"  style="border-left:none;border-right: none">
                <span class="input-label">电话:</span>
                <input type="number" ng-model="user.phone" placeholder="电话号码">
            </div>
            <div class="item item-input"  style="border-left:none;border-right: none">
                <span class="input-label">密码:</span>
                <input type="password" ng-model="user.password" placeholder="密码">
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="signIn(user)">
                登陆
            </button>
            <p class="text-center assertive">
                {{signStatasMessage}}
            </p>
            <p class="text-center">
                <a href="#/forgot-password">需要帮助</a>
            </p>
        </div>
    </ion-content>
</ion-view>