<ion-view>

    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios7-person"
                    dropdown-menu="ddSelectOptions"
                    dropdown-model="ddSelectSelected">

            </button>
        </ion-nav-buttons>
        <ion-nav-title ng-click="switchShop()">
            {{info.shopName}} <i class="icon ion-chevron-down" style=" font-size: 15px !important"></i>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content delegate-handle="mainScroll"
                 padding="false"
                 has-tabs="false"
                 has-header="false"
                 scroll="true">

        <ul class="list">

            <div class="item item-divider">
                商品
            </div>

            <a class="item item-icon-left" href="#/tab/product">
                <i class="icon ion-ios7-paper balanced"></i>
                商品总数
                <span class="badge badge-assertive">0</span>
            </a>
            <a class="item item-icon-left" href="#/tab/product">
                <i class="icon ion-navicon-round balanced"></i>
                商品总分类数
                <span class="badge badge-assertive">0</span>
            </a>

            <div class="item item-divider">
                订单
            </div>

            <a class="item item-icon-left" href="#/tab/order">
                <i class="icon ion-stats-bars balanced"></i>
                订单总数
                <span class="badge badge-assertive">0</span>
            </a>
            <a class="item item-icon-left" href="#/tab/order">
                <i class="icon ion-arrow-graph-up-right balanced"></i>
                订单总收入
                <span class="badge badge-assertive">0</span>
            </a>
        </ul>

    </ion-content>
</ion-view>
