<ion-view>

    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-title>
            {{pageName}}
        </ion-nav-title>

    </ion-nav-bar>

    <ion-content padding="false"
                 has-tabs="true"
                 has-header="true"
                 scroll="true">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="order-list list" style="">

            <div class="order-item" style="" quick-ng-repeat="order in info.orders" ng-controller="OrderDetailCtrl">

                <div class="item item-divider">
                    订单{{$index + 1}}: {{order.create_time | date:'short'}}
                    <span class="item-note">
                        共计:{{order.items | getTotolCount }} 件<span
                            class="assertive">￥ {{order.items | getTotolPrice }}</span>
                    </span>

                </div>

                <div class="item item-icon-right">

                   <div>收货地址: {{order.address}}</div>
                    <div>联系电话: {{order.phone}}</div>

                    <div style="margin-top: 10px;color: #808080">买家留言: {{order.remarks}}</div>

                    <i class="icon ion-ios7-information" ng-class="{'balanced':order.readed , 'assertive': !order.readed}" ng-click="showOrderDetail(order)"></i>

                </div>

            </div>

            <ion-infinite-scroll
                    ng-if="moreOrderCanBeLoaded()"
                    icon="ion-loading-c"
                    on-infinite="addOrders()">
            </ion-infinite-scroll>

        </div>

    </ion-content>
</ion-view>