<ion-view>
    <ion-nav-bar class="bar-mmiao" align-title="center">

        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios7-refresh-empty"ng-click="refreshAll()"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios7-plus-outline" ng-controller="AddProductCtrl"
                    ng-click="AddItem()"></button>
        </ion-nav-buttons>

        <ion-nav-title>
            商品
        </ion-nav-title>

    </ion-nav-bar>
    <ion-content padding="false"
                 has-tabs="true"
                 has-header="true"
                 scroll="false"
                 has-bouncing="false"
                 class="productlist-ion-content">
        <div class="commonProductList" style="overflow: auto;position: absolute;width: 100%;height: 100%">
            <div class="leftContainer">
                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             scrollbar-y="false"
                             overflow-scroll="false">

                    <div class="shop-categray-list" style="width: 100%;">
                        <ul style="margin: 0.0em;padding: 0px;">

                            <!--<li ng-repeat="category in info.categoryls track by category.category_id" class="shop-categray" ng-class="category.select_a"-->
                                <!--ng-click="selectCategory($index)">-->

                                <!--<div class="shop-categray-item-decorate" ng-class="category.select_b"></div>-->
                                <!--<div class="shop-categray-item" ng-class="category.select_c">{{ category.name }}</div>-->
                            <!--</li>-->

                            <li ng-repeat="category_name in info.category_names track by category_name" class="shop-categray" ng-class="{'shop-categray-selected': $index == selectedIndex }"
                                ng-click="selectCategory($index)">

                                <div class="shop-categray-item-decorate" ng-class="{'shop-categray-item-decorate-show': $index == selectedIndex }"></div>
                                <div class="shop-categray-item">{{ category_name }}</div>
                            </li>

                        </ul>
                    </div>
                </ion-content>
            </div>
            <div class="rightContainer">
                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             overflow-scroll="false"
                             delegate-handle="productScroll">

                    <div class="shop-product-list">
                        <ul class="shop-product-categray-list list">
                            <li ng-repeat="item in info.selectedCategory.itemls track by item.id"
                                class="product-item">
                                <!--ng-include-->
                                <!--src="'templates/product-detail.html'">-->
                                <div class="prod_icon" back-img="{{item.old_pic_url}}" ng-init="item.old_pic_url=item.pic_url">
                                </div>
                                <div>
                                    <span class="product-title oneline ">{{item.name}}</span>
                                    <div class="prod_info">
                                        <div class="product-price">
                                            ¥ {{item.price/100.0}}
                                        </div>
                                        <div class="product_action" ng-controller="EditProductCtrl">
                                            <a class="mgray button button-small button-icon icon ion-arrow-up-a" ng-click="StickItem(item)"></a>
                                            <a class="mgray button button-small button-icon icon ion-settings"  ng-click="EditItem(item)"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <ion-infinite-scroll
                                    ng-if="moreDataCanBeLoaded()"
                                    icon="ion-loading-c"
                                    on-infinite="addItems()">
                            </ion-infinite-scroll>

                        </ul>

                    </div>


                </ion-content>
            </div>
        </div>
    </ion-content>
</ion-view>