<ion-view>
    <ion-nav-bar class="bar-mmiao" align-title="center">
        <ion-nav-title>
            订单
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content padding="false"
                 has-tabs="true"
                 has-header="true"
                 scroll="true">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="order-list list" style="">
            <div bindonce class="order-item" style=""
                 quick-ng-repeat="order in info.orders">
                <div class="item item-divider">
                    {{order.create_time | date:'yyyy-M-d,h:mm a'}}
                    <span class="item-note">
                        共计:{{order.items | getTotolCount }} 件<span
                            class="assertive">￥ {{order.items | getTotolPrice }}</span>
                    </span>
                </div>
                <div class="item item-icon-right" ng-click="showOrderDetail(order)">
                    <div style="font-size: 14px;" class="item-text-wrap"><i class="ion-ios7-navigate balanced"></i> 收货地址: <span style="color: #808080;" bo-text="order.address"></span></div>
                    <div style="font-size: 14px;" class="item-text-wrap"><i class="ion-ios7-telephone balanced"></i> 联系电话: <span style="color: #808080;" bo-text="order.phone"></span></div>
                    <div style="margin-top: 10px;font-size: 14px" class="item-text-wrap assertive" ng-if="order.act == 'wx'"><i class="ion-card balanced"></i> 支付方式:微信支付<span ng-if="order.dprice">［使用优惠券 {{order.dprice/100.0}} 元］</span></div>
                    <div style="margin-top: 10px;font-size: 14px" class="item-text-wrap assertive" ng-if=" order.act != 'wx'"><i class="ion-card balanced"></i> 支付方式:货到付款</div>
                    <div style="margin-top: 10px;font-size: 14px" class="item-text-wrap balanced"><i class="ion-ios7-alarm balanced"></i> 订单状态:
                        <span ng-if=" StatsEnum.toBeConfirmed == order.order_status">待配送</span>
                        <span ng-if=" StatsEnum.inShipping == order.order_status">店家确认配送</span>
                        <span ng-if=" StatsEnum.canceledByUser == order.order_status">用户取消订单</span>
                        <span ng-if=" StatsEnum.canceledByShop == order.order_status">店家无法配送</span>
                        <span ng-if=" StatsEnum.confirmedByUser == order.order_status">用户确认收货</span>
                        <span ng-if=" StatsEnum.canceledByCatStaff == order.order_status">喵喵客服取消订单</span>
                    </div>
                    <div style="margin-top: 10px;color: #808080;font-size: 14px" class="item-text-wrap" bo-text="'买家留言: '+ order.remarks"></div>
                    <span class="badge badge-assertive" style="right: 12px" ng-if="!order.readed">未读</span>
                    <span class="badge badge-balanced" style="right: 12px" ng-if="order.readed">已读</span>
                </div>
            </div>
            <ion-infinite-scroll
                    ng-if="moreOrderCanBeLoaded()"
                    icon="ion-loading-c"
                    on-infinite="addOrders()">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>