<ion-view title="{{pageName}}">

    <!--<ion-nav-bar class="bar-light" style="background-color: lightgray">-->
        <!--<ion-nav-title>-->
            <!--&lt;!&ndash; this view supplied its own ion-header-bar to be used instead of the app's default ion-nav-bar &ndash;&gt;-->
            <!--<fp-search-bar search-model="searchTerm" focused="focused" submit="search(searchTerm)"></fp-search-bar>-->
        <!--</ion-nav-title>-->

    <!--</ion-nav-bar>-->

  <ion-content class="has-header">

      <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon assertive"></i>
              <input type="search" placeholder="搜索">
          </label>
          <button class="button button-clear">
              取消
          </button>
      </div>

    <ion-list>
      <ion-item class="post-list"
                collection-repeat="post in results"
                collection-item-width="'100%'"
                collection-item-height="92"
                ng-class="post.points > 0?'item-icon-right':''"
                ng-show="post.title.length"
                fp-share style="">

          </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
