<ion-view title="{{pageName}}">

    <!--<ion-nav-bar class="bar-light" style="background-color: lightgray">-->
        <!--<ion-nav-title>-->
            <!--&lt;!&ndash; this view supplied its own ion-header-bar to be used instead of the app's default ion-nav-bar &ndash;&gt;-->
            <!--<fp-search-bar search-model="searchTerm" focused="focused" submit="search(searchTerm)"></fp-search-bar>-->
        <!--</ion-nav-title>-->

    <!--</ion-nav-bar>-->

  <ion-content  padding="false"
                has-tabs="false"
                has-header="true"
                scroll="true"
                has-bouncing="true">

      <div class="item-input">
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon assertive"></i>
              <input type="search" placeholder="搜索">
          </label>
          <button class="button button-clear">
              取消
          </button>
      </div>

      <div class="shop-product-list">
          <ul class="shop-product-categray-list list">

              <li ng-repeat="item in info.searchResults" class="product-item"
                  ng-include
                  src="'templates/product-detail.html'">
              </li>

          </ul>

      </div>

  </ion-content>
</ion-view>
