<ion-view title="{{pageName}}">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios7-plus-outline" ng-controller="AddProductCtrl"
                    ng-click="AddItem(cateId)" ng-init="cateId=info.currentDisplayItems[0].category_id"></button>
        </ion-nav-buttons>
        <ion-nav-title ng-click="switchShop()">
            {{info.shop.name}} <i class="icon ion-chevron-down" style=" font-size: 15px !important"></i>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content padding="false"
                 has-tabs="true"
                 has-header="true"
                 scroll="false"
                 has-bouncing="false">
        <div class="commonProductList" style="overflow: auto">
            <div class="leftContainer">
                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             scrollbar-y="false"
                             overflow-scroll="false">

                    <div class="shop-categray-list" style="width: 100%;">
                        <ul style="margin: 0.0em;padding: 0px;">
                            <li ng-repeat="category in info.categoryls" class="shop-categray"
                                ng-click="selectCategory(category)"
                                ng-class="{'shop-categray-selected': category.selected}">

                                <div class="shop-categray-item-decorate" ng-show="category.selected"></div>
                                <div class="shop-categray-item" style=""
                                     ng-class="{'shop-categray-item-selected': category.selected}">{{ category.name
                                    }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </ion-content>
            </div>
            <div class="rightContainer">
                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             overflow-scroll="false"
                             delegate-handle="productScroll">

                    <div class="shop-product-list">
                        <ul class="shop-product-categray-list list">
                            <li ng-repeat="item in info.currentDisplayItems" class="product-item"
                                ng-include
                                src="'templates/product-detail.html'">
                            </li>

                            <ion-infinite-scroll
                                    ng-if="moreDataCanBeLoaded()"
                                    icon="ion-loading-c"
                                    on-infinite="addItems()">
                            </ion-infinite-scroll>

                        </ul>

                    </div>


                </ion-content>
            </div>
        </div>
    </ion-content>
</ion-view>