<ion-view title="{{pageName}}">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="right">
            <button class="button button-outline button-icon ion-ios7-plus"
                    ng-click="addProduct()"></button>
        </ion-nav-buttons>
        <ion-nav-title ng-click="switchShop()">
            {{info.shop.name}} <i class="icon ion-chevron-down" style=" font-size: 15px !important"></i>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content padding="false"
                 has-tabs="true"
                 has-header="true"
                 scroll="false"
                 has-bouncing="false">
        <div class="commonProductList" style="overflow: auto">
            <div class="leftContainer">
                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             scrollbar-y="false"
                             overflow-scroll="false">
                    <ul class="list" >
                        <li class="shop-categray item"
                                  ng-repeat="category in info.categoryls"
                                  ng-click="selectCategory(category)"
                                  ng-class="{'shop-categray-selected': category.selected}">

                            <div class="shop-categray-item-decorate" ng-show="category.selected"></div>
                            <div class="shop-categray-item" style=""
                                 ng-class="{'shop-categray-item-selected': category.selected}">{{ category.name
                                }}
                            </div>
                            <div class="shop-categray-item-edge" ng-show="category.totalCnt">
                                {{category.totalCnt}}
                            </div>
                            <li>
                    </ul>
                </ion-content>
            </div>
            <div class="rightContainer">
                <ion-content padding="false"
                             scroll="true"
                             has-bouncing="true"
                             overflow-scroll="false"
                             delegate-handle="productScroll">
                    <ul class="list" >
                        <li class="product-item item"
                                  ng-repeat="item in info.currentDisplayItems"
                                  ng-include
                                  src="'/templates/product-detail.html'">

                        <li>
                    </ul>
                    <ion-infinite-scroll
                            ng-if="moreDataCanBeLoaded()"
                            icon="ion-loading-c"
                            on-infinite="addItems()">
                    </ion-infinite-scroll>

                </ion-content>
            </div>
        </div>
    </ion-content>
</ion-view>