<ion-view>

    <ion-nav-bar class="bar-dark barWithDropdownMenu">

        <ion-nav-buttons side="right">

            <button class="button button-clear" ng-click="showUserAction()">
                <i class="icon ion-ios7-person-outline"></i>
            </button>
        </ion-nav-buttons>

        <ion-nav-title ng-controller="ShopListCtrl" ng-click="ShowShopList()">
            {{ shopName }} <i class="icon ion-chevron-down" style=" font-size: 15px !important"></i>
        </ion-nav-title>

    </ion-nav-bar>

    <ion-content delegate-handle="mainScroll"
                 padding="false"
                 has-tabs="false"
                 has-header="false"
                 scroll="true">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <ul class="list">

            <div class="item item-divider item-icon-right">
                店铺
            </div>

            <a class="item item-icon-left">
                <i class="icon ion-ios7-home-outline balanced"></i>
                {{info.shop.name}}
                <span class="badge" ng-class="{'badge-assertive':!info.shop.status,'badge-dark': info.shop.status }">
                    {{info.shop.status | getShopStatusString }}
                </span>

            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/shop-edit">
                <i class="icon ion-ios7-information-outline balanced"></i>
                {{info.shop.shop_address}}
                <span class="icon ion-ios7-compose-outline dark" style="right: 32px"></span>
            </a>

            <div class="item item-divider">
                商品
            </div>

            <a class="item item-icon-left" href="#/tab/product">
                <i class="icon ion-ios7-paper-outline balanced"></i>
                商品总数
                <span class="badge badge-light" ng-show="info.summary.product.totalCount">{{info.summary.product.totalCount}} 件</span>
            </a>
            <a class="item item-icon-left" href="#/tab/product">
                <i class="icon ion-navicon balanced"></i>
                商品总分类数
                <span class="badge badge-light" ng-show="info.summary.cat.totalCount">{{info.summary.cat.totalCount}} 类</span>
            </a>

            <div class="item item-divider">
                订单
            </div>

            <a class="item item-icon-left" href="#/tab/order">
                <i class="icon ion-ios7-analytics-outline balanced"></i>
                订单总数
                <span class="badge badge-light" ng-show="info.summary.order.totalCount">{{info.summary.order.totalCount}} 单</span>
            </a>
            <a class="item item-icon-left" href="#/tab/order">
                <i class="icon ion-ios7-pulse balanced"></i>
                订单总收入
                <span class="badge badge-light" ng-show="info.summary.order.totalPrice">{{info.summary.order.totalPrice}}</span>
            </a>
        </ul>

    </ion-content>
</ion-view>
