<ion-view>

    <ion-nav-bar class="bar-dark barWithDropdownMenu">
        <ion-nav-buttons side="right" >

            <button class="button button-clear" ng-click="showUserAction()">
                <i class="icon ion-ios7-person"></i>
            </button>

        </ion-nav-buttons>

        <ion-nav-title ng-controller="EditShopCtrl" ng-click="ShowShopList()">
                {{ shopName }} <i class="icon ion-chevron-down" style=" font-size: 15px !important" ></i>
        </ion-nav-title>

    </ion-nav-bar>

    <ion-content delegate-handle="mainScroll"
                 padding="false"
                 has-tabs="false"
                 has-header="false"
                 scroll="true">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <ul class="list">

            <div class="item item-divider">
                商品
            </div>

            <a class="item item-icon-left" href="#/tab/product">
                <i class="icon ion-ios7-paper balanced"></i>
                商品总数
                <span class="badge badge-assertive">{{info.summary.product.totalCount}} 件</span>
            </a>
            <a class="item item-icon-left" href="#/tab/product">
                <i class="icon ion-navicon-round balanced"></i>
                商品总分类数
                <span class="badge badge-assertive">{{info.summary.cat.totalCount}} 类</span>
            </a>

            <div class="item item-divider">
                订单
            </div>

            <a class="item item-icon-left" href="#/tab/order">
                <i class="icon ion-stats-bars balanced"></i>
                订单总数
                <span class="badge badge-assertive">{{info.summary.order.totalCount}} 单</span>
            </a>
            <a class="item item-icon-left" href="#/tab/order">
                <i class="icon ion-arrow-graph-up-right balanced"></i>
                订单总收入
                <span class="badge badge-assertive">{{info.summary.order.totalPrice}}</span>
            </a>
        </ul>

    </ion-content>
</ion-view>
