<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <form class="form-horizontal" method="post"  enctype="multipart/form-data"  action="/console/shop/cate/add">
        <h2 class="form-signin-heading">添加商店商品分类</h2>
        <input name="shopId" style="display:none" value="$shopId" id="shopId">
        <div class="form-group">
        <div class="form-group">
        <input type="text" name="cateId" class="form-control" placeholder="分类id" id="cateId" required>
        </div>
        <div class="form-group">
        <input type="text" name="cateName" class="form-control" placeholder="分类名称" id="cateName" required>
        </div>
        <div class="form-group">
        <input type="text" name="scorce" class="form-control" placeholder="评分" id="scorce" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="add">添加</button>
    </form>

</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("form").submit(function(){
		var score = $("#scorce").val();
		if(score < 0){
			alert("商品评分必须大于等于0");
			return false;
		}
		var cateId = $("#cateId").val();
		if(cateId < 0){
			alert("分类的id必须大于等于0");
			return false;
		}
			$.ajax({
			type:"POST",url:"/console/shop/cate/add",
			data:{scorce:$("#scorce").val(),shopId:$("#shopId").val(),categoryId:$("#cateId").val(),categoryName:$("#cateName").val()},
			success:function(data){
				  alert(data);
				  window.location.href ="/console/shop/cate?shop_id="+$("#shopId").val();
				}
			});
			return false;
		});
		
	});
</script>
</body>
</html>
