<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/console.css" rel="stylesheet">
    <script type="text/javascript">
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Cat </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/console/catStaffCommit">查看所有</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="/console/catStaffCommit" method="post">
                <input name="value" type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid" style="width: 150%">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main" style="padding-top:60px">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名字</th>
                        <th>用户电话</th>
                        <th>密码</th>
                        <th>商店名称</th>
                        <th>商店电话</th>
                        <th>店主电话</th>
                        <th>商店地址</th>
                        <th>服务范围</th>
                        <th>创建时间</th>
                        <th>修改时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    #foreach($catStaffCommt in $catStaffCommits)
                        <tr>
                            <td>$catStaffCommt.id</td>
                            <td class="edit" id="${catStaffCommt.id}-name">$catStaffCommt.name</td>
                            <td class="edit" id="${catStaffCommt.id}-phone">$catStaffCommt.phone</td>
                            <td class="edit" id="${catStaffCommt.id}-pwd">$catStaffCommt.pwd</td>
                            <td class="edit" id="${catStaffCommt.id}-shop_name">$catStaffCommt.shop_name</td>
                            <td class="edit" id="${catStaffCommt.id}-shop_tel">$catStaffCommt.shop_tel</td>
                            <td class="edit" id="${catStaffCommt.id}-shop_owner_phone">$catStaffCommt.shop_owner_phone</td>
                            <td class="edit" id="${catStaffCommt.id}-shop_address">$catStaffCommt.shop_address</td>
                            <td class="edit" id="${catStaffCommt.id}-shop_serveArea">$catStaffCommt.shop_serveArea</td>
                            <td>$catStaffCommt.create_time</td>
                            <td>#if($catStaffCommt.update_time) $catStaffCommt.update_time #end</td>
                            <td>
                                <button type="button" class="btn btn-danger" data-idd="${catStaffCommt.id}"
                                        data-from="#if(!$previous_f)0#end #if($previous_f) #set($i=$previous_f + 50)$i #end" data-offset="50"><a>删除</a></button>
                            </td>
                        </tr>
                    #end
                    </tbody>
                </table>
                <nav>
                    <ul class="pager">
                        #if($previous_f)
                            <li>
                                <a href="/console/catStaffCommit?from=$previous_f&offset=50&value=$value">Previous</a></li>
                        #end
                        #if($next_f)
                            <li><a href="/console/catStaffCommit?from=$next_f&offset=50&value=$value">Next</a></li>
                        #end
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery/dist/jquery.min.js"></script>
<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/jquery.bpopup.js"></script>
<script src="/js/jquery.autocomplete.min.js"></script>
<script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.edit').editable('/console/catStaffCommit/update', {
            tooltip: 'Click to edit...',
            callback: function (value, settings) {
                location.reload();
            }
        });
        $(".btn").click(function () {
            var result = confirm("是否确认删除"),
                    oThis = $(this);
            if (result) {
                alert(oThis);
                $.ajax({
                    type: "POST", url: "/console/catStaffCommit/del",
                    data: {id: oThis.data('idd'), from: oThis.data('from'), offset: oThis.data('offset')},
                    success: function (data) {
                        //alert(data);
                        location.reload();
                    }
                });
            }
        });
    });
</script>
</body>
</html>
