<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title> 喵喵-!${shop.name}</title>

    <!-- Bootstrap core CSS -->
    <link href="/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <form class="form-horizontal" method="post"  enctype="multipart/form-data"  action="/console/coupon/add">
        <h2 class="form-signin-heading">添加代金券</h2>
        <div class="form-group">
        <input type="text" name="shop_id" class="form-control" placeholder="店铺id" required>
        </div>
        <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="名称" required>
        </div>
        <div class="form-group">
        <input type="text" name="price" class="form-control" placeholder="价格" required>
        </div>
        <div class="form-group">
        <input type="text" name="start_time" class="form-control" placeholder="有效期开始时间 2015-03-01 00:00:00" required>
        </div>
        <div class="form-group">
        <input type="text" name="end_time" class="form-control" placeholder="有效期结束时间 2015-03-01 00:00:00" required>
        </div>
        <div class="form-group">
        <input type="text" name="ext" class="form-control" placeholder="扩展字段">
        </div>
        <div class="form-group">
        <label for="inputfile">上次商品图片</label>
      	<input type="file" id="inputfile" name="pic" onChange="fileChange(this);" required>
      	</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="add">添加</button>
    </form>

</div> <!-- /container -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	
	});
    function fileChange(item) {
            var ss = (item.value).split('.');
            if (ss.length == 2 && /(gif|jpg|jpeg|png|GIF|JPEG|PNG|JPG)$/.test(ss[1])) {
                $("#fileName").val(item.value);
            } else {
                var obj = document.getElementById("inputfile");
               obj.outerHTML = obj.outerHTML;
                $("#inputfile").val("");
                alert("用户源配置文件格式错误");
            }
        }
</script>
</body>
</html>
