<html>
<head>
    <title>
    </title>
</head>
<body>
<script type="text/javascript" >
    var url = "http://123.57.38.234/jy-1/sg";
    function showPosition(position){
    if(position){
    url = url  + "?" + "lat="+ position.coords.latitude +"&lng="+ position.coords.longitude;
    }
    window.location.href = url ;
    }
    function showError(error)
    {
    window.location.href = url + "?"+"code=" + error.code;
    switch(error.code)
    {
    case error.PERMISSION_DENIED:
    window.location.href = url
    break;
    case error.POSITION_UNAVAILABLE:
    window.location.href = url ;
    break;
    case error.TIMEOUT:
    window.location.href = url ;
    break;
    case error.UNKNOWN_ERROR:
    console.log("An unknown error occurred.")
    window.location.href = url ;
    break;
    default:
    window.location.href = url ;
    }
    }
    function getLocation()
    {
    if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition,showError);
    }
    }

    getLocation();
</script>
</body>
</html>