<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="jade.dataSource.com.renren.ntc.sg.dao" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver">
		</property>
		<property name="jdbcUrl"
			value="jdbc:mysql://123.57.38.234:3306/test?characterEncoding=utf8"/>
		<property name="user" value="test"/>
		<property name="password" value="test"/>
		<property name="initialPoolSize"  value="3"/> 
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="20" />
		<property name="breakAfterAcquireFailure" value="false" />
		<property name="idleConnectionTestPeriod" value="3600"/>
		<property name="acquireRetryAttempts" value="3" />
		<property name="acquireIncrement" value="2"/>
		<property name="testConnectionOnCheckout" value="true" />
	</bean>

    <bean id="jade.dataSource.com.renren.ntc.sg.biz.dao" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver">
        </property>
        <property name="jdbcUrl"
                  value="jdbc:mysql://123.57.38.234:3306/sg?characterEncoding=utf8"/>
        <property name="user" value="test"/>
        <property name="password" value="test"/>
        <property name="initialPoolSize"  value="3"/>
        <property name="minPoolSize" value="10" />
        <property name="maxPoolSize" value="20" />
        <property name="breakAfterAcquireFailure" value="false" />
        <property name="idleConnectionTestPeriod" value="3600"/>
        <property name="acquireRetryAttempts" value="3" />
        <property name="acquireIncrement" value="2"/>
        <property name="testConnectionOnCheckout" value="true" />
    </bean>



</beans>