<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver">
		</property>
		<property name="jdbcUrl"
			value="jdbc:mysql://l-wap14.wap.dev.cn6.qunar.com:3368/openplatform?characterEncoding=utf8"/>
		<property name="user" value="cunweijie"/>
		<property name="password" value="cunwei16898298jiecunwei"/>
		<property name="initialPoolSize"  value="3"/> 
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="20" />
		<property name="breakAfterAcquireFailure" value="false" />
		<property name="idleConnectionTestPeriod" value="3600"/>
		<property name="acquireRetryAttempts" value="3" />
		<property name="acquireIncrement" value="2"/>
		<property name="testConnectionOnCheckout" value="true" />
	</bean>
</beans>

<!-- 

<property name="jdbcUrl"
			value="jdbc:mysql://select host, user from user:3368/spider?characterEncoding=utf8"></property>
		<property name="user" value="xu.dong"></property>
		<property name="password" value="xu.dong1234xu.dong"></property>

 -->
