<html ng-app="ionic.loading">
<head>
    <meta charset="utf-8">
    <title>喵喵</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="/css/ionic.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <script type="text/javascript" src="/js/ionic.bundle.min.js"></script>

    <script type="text/javascript" src="/js/angular-local-storage.min.js"></script>

    <script type="text/javascript" src="/sg/js/loading.js"></script>

</head>
<body ng-controller="LoadingCtrl">

<ion-nav-view></ion-nav-view>

<script id="templates/locate.html" type="text/ng-template">
    <ion-view view-title="喵喵">
        <ion-content>

            <div class="loadingBackground">
                <!--<img class="background-img" style="width: 100%;height: 100%; position: absolute;top: 0;bottom: 0;left: 0;right: 0" src="/images/1024.png">-->
            </div>

            <div class="getGeolocation">
                <img class="getGeolocation-img" src="../../images/getlocation.gif" ng-show="showLocateImg">
                <div class="getGeolocation-title" ng-class="getGeolocationTitleClass">
                    <label class="text">{{getGeolocationTitle}}</label>
                </div>
            </div>

        </ion-content>
    </ion-view>
</script>

<script id="templates/findshop.html" type="text/ng-template">
    <ion-view>
        <ion-nav-bar class="bar-primary">
            <ion-nav-back-button class="button button-positive button-clear">
                <!--<i class="ion-arrow-left-c"></i>-->
            </ion-nav-back-button>
            <ion-nav-title class="positive">
                定位失败,请搜索店铺
            </ion-nav-title>
            <!--<ion-nav-buttons side="primary">-->
                <!--<button class="button button-clear button-positive" ng-click="relocation()">重新定位</button>-->
            <!--</ion-nav-buttons>-->
        </ion-nav-bar>

        <ion-content padding="true"
                     has-tabs="true"
                     has-header="true">

            <div id="search-box" class="bar bar-header item-input-inset" style="border-bottom: solid 1px lightgray;margin-bottom: 5px;padding: 0">
                <div class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" placeholder="请输入商店名称或者地址" ng-model="shop_data.searchQuery" ng-focus="startSearch()" ng-change="startSearch()">
                </div>
                <button class="button button-clear button-positive" ng-click="clearSearch()">
                    取消
                </button>
            </div>

            <div class="list" ng-show="showShopList">
                <div class="item item-divider">
                    商店列表
                </div>
                <div class="item" ng-repeat="item in shop_items | filter: shop_data.searchQuery" ng-click="goToShop(item)">
                    <div>{{item.name}}</div>
                </div>
            </div>

            <div class="list" ng-show="showShopHistory">
                <div class="item item-divider">
                    搜索历史
                </div>
                <div class="item item-body" ng-repeat="item in shop_history" ng-click="goToShop(item)">
                    {{item.name}}
                </div>
            </div>

        </ion-content>
    </ion-view>
</script>

</body>
</html>