<html ng-app="miaomiao.shop">
<head>
    <meta charset="utf-8">
    <title>喵喵-$shop.name</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="/css/ionic.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <script type="text/javascript" src="/js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="/js/angular-local-storage.min.js"></script>

    <script src="/sg/js/services/httpClient.js"></script>
    <script src="/sg/js/controllers/shopController.js"></script>


</head>
<body>

<ion-nav-view></ion-nav-view>

<script id="templates/productlist.html" type="text/ng-template">
    <ion-view>

        <input type="hidden" value="$shop.id" name="shop_id" ng-model="shop.id">

        <ion-header-bar class="bar-dark" style="text-align: left;">
            <button class="button button-icon base-icon-user button-positive" ng-click="">
                我的
            </button>
            <div id="search-box" class="item-input-inset"
                 style=";margin: auto;">
                <div class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon assertive" style="font-size: 20px"></i>
                    <input type="search" placeholder="请输入商店名称或者地址" ng-model="shop_data.searchQuery"
                           ng-focus="startSearch()" ng-change="startSearch()" style="color: #7a7a7a">
                    <i class="clear-search icon ion-ios7-close-empty" style="font-size: 20px"
                       ng-click="clearSearch()"></i>
                </div>
            </div>
        </ion-header-bar>

        <ion-content padding="true"
                     has-tabs="false"
                     has-header="true">

            <div class="commonProductList">

                <div class="leftContainer">
                    <div class="leftContent">
                        <div class="shop-categray-list" style="width: 90%">
                            <ul style="margin: 0.0em;padding: 0px;padding-top: 2px;">
                                <li ng-repeat="category in categoryls" class="shop-categray">
                                    <div class="shop-categray-item-decorate" ng-show="category.selected"></div>
                                    <div class="shop-categray-item" style="">{{ category.name }}</div>
                                    <div class="shop-categray-item-edge" ng-show="category.totalCnt">
                                        {{category.totalCnt}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="rightContainer">
                    <div class="rightContent">
                        <input type="hidden" value="$shop.id" name="shop_id" id="shop_id">

                        <div class="shop-product-list">
                            <ul class="shop-product-categray-list js-shop-product-categray-list">

                                <li ng-repeat="item in currentDisplayItems" class="product-item js-product-item">

                                    <div class="prod_icon_clickable"></div>
                                    <div class="prod_icon" back-img="item.pic_url" ></div>
                                    <div>

                                    <span class="product-title oneline js-product-item-name">{{item.name}}</span>
                                        <div class="prod_info">
                                            <div class="product-price js-product-item-price" data-value="$item.price">
                                                <span style="font-weight: normal">¥{{item.price/100}}.{{item.price%100}}</span>
                                            </div>
                                            <div class="product_stepper">
                                                <div class="product_stepper_minus countChangeAction countChangeActionMinus" ng-click="removeItem(item)">
                                                    -
                                                </div>
                                                <div class="product_stepper_count countChangeAction countChangeActionSet js-product-item-quantity">
                                                    {{item.selectedCnt}}
                                                </div>
                                                <div class="product_stepper_add countChangeAction countChangeActionAdd" ng-click="selectItem(item)">
                                                    +
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div style="text-align: center;height: 20px;padding: 15px" class="loadingMore">
                                <i class="">点击加载更多</i>
                            </div>
                        </div>
                    </div>
                </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/search.html" type="text/ng-template">
    <ion-view>

        <ion-header-bar class="bar-lightgary" style="text-align: left;height: 29px">

        </ion-header-bar>

        <ion-content padding="true"
                     has-tabs="false"
                     has-header="true">
            <div class="shop-product-list">
                <ul style="margin: 0.0em; padding:0px 9px" class="js-search-result-list">
                    #if($itemls && ! $itemls.isEmpty())
                    #foreach($item in $itemls)
                    <li class="product-item js-product-item" id="$item.id">

                        <input type="hidden" class="js-product-item-id" value="$item.id"
                               data-value="$item.id"/>

                        <input type="hidden" class="js-product-category-id" value="$item.category_id"
                               data-value="$item.category_id"/>

                        <div class="prod_icon_clickable"></div>
                        <div class="prod_icon" style='background-image: url("$item.pic_url")'
                             data-imageurl="$item.pic_url">
                        </div>
                        <div>
                            <span class="product-title oneline js-product-item-name"
                                  data-value="$item.name">$item.name </span>
                            #set($itempricemain = $item.price/100)
                            #set($itempriceleft = $item.price%100)
                            <div class="prod_info">
                                <div class="product-price js-product-item-price" data-value="$item.price">
                                    $itempricemain<span>.$itempriceleft</span>
                                </div>
                                <div class="product_stepper">
                                    <div class="product_stepper_minus countChangeAction countChangeActionMinus"
                                         style="">
                                        -
                                    </div>
                                    <div class="product_stepper_count countChangeAction countChangeActionSet js-product-item-quantity">
                                        0
                                    </div>
                                    <div class="product_stepper_add countChangeAction countChangeActionAdd">
                                        +
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-popup" style="display: none" data-popup-id="$item.id">
                            <!--<span class="button b-close"><span>X</span></span>-->
                            <!--<div class="prod-popup-title">$item.name </div>-->
                            <div class="prod-popup-icon">
                                <img class="prod-popup-image" src="" data-imageurl="$item.pic_url">
                            </div>
                        </div>

                    </li>
                    #end
                    #else
                    <div class="no-result-display" style="text-align: center">
                        没有结果
                    </div>
                    #end
                </ul>
            </div>

    </ion-view>
</script>

<script id="templates/checkout.html" type="text/ng-template">
    <ion-view>
        <ion-header-bar class="bar-lightgary" style="text-align: left;height: 29px">

        </ion-header-bar>

        <ion-content padding="false"
                     has-tabs="false"
                     has-header="false" style="top: 29">


    </ion-view>
</script>

<script id="templates/addresslist.html" type="text/ng-template">
    <ion-view>
        <ion-header-bar class="bar-lightgary" style="text-align: left;height: 29px">

        </ion-header-bar>

        <ion-content padding="false"
                     has-tabs="false"
                     has-header="false" style="top: 29">


    </ion-view>
</script>

<script id="templates/addaddress.html" type="text/ng-template">
    <ion-view>
        <ion-header-bar class="bar-lightgary" style="text-align: left;height: 29px">

        </ion-header-bar>

        <ion-content padding="false"
                     has-tabs="false"
                     has-header="false" style="top: 29">


    </ion-view>
</script>

<script id="templates/ordersuccess.html" type="text/ng-template">
    <ion-view>
        <ion-header-bar class="bar-lightgary" style="text-align: left;height: 29px">

        </ion-header-bar>

        <ion-content padding="false"
                     has-tabs="false"
                     has-header="false" style="top: 29">


    </ion-view>
</script>

<script id="templates/myorders.html" type="text/ng-template">
    <ion-view>
        <ion-header-bar class="bar-lightgary" style="text-align: left;height: 29px">

        </ion-header-bar>

        <ion-content padding="false"
                     has-tabs="false"
                     has-header="false" style="top: 29">


    </ion-view>
</script>

</body>
</html>