<html ng-app="ionic.tool">
<head>
    <meta charset="utf-8">
    <title>喵喵工具</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <link href="/css/tool.css" rel="stylesheet">

    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

    <!-- google maps javascript -->
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>

    <script src="/sg/js/tool.js"></script>

</head>
<body ng-controller="ToolCtrl">

<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
    <h1 class="title">喵喵工具</h1>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>

<script id="templates/tool.html" type="text/ng-template">
    <ion-view view-title="喵喵工具">
        <ion-content>

            <div class="list card">
                <div class="item item-divider">
                    推广人员信息
                </div>
                <div class="item item-body">

                    <label class="item item-input">
                        <span class="input-label"><span class="necessary">*</span>姓名:</span>
                        <input type="text" ng-model="info.staff_name" required>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><span class="necessary">*</span>电话:</span>
                        <input type="tel" ng-model="info.staff_phone" required>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">密码:</span>
                        <input type="password" ng-model="info.staff_pwd">
                    </label>
                </div>
            </div>

            <div class="list card">
                <div class="item item-divider">
                    店铺信息
                </div>
                <div class="item item-body">
                    <label class="item item-input">
                        <span class="input-label"><span class="necessary">*</span>店铺名称:</span>
                        <input type="text" ng-model="info.shop_name" required>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><span class="necessary">*</span>店铺电话:</span>
                        <input type="text" ng-model="info.shop_tel" required>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">店铺地址:</span>
                        <input type="text" ng-model="info.shop_address">
                    </label>
                    <label class="item item-input">
                        <span class="input-label"><span class="necessary">*</span>打印机ID:</span>
                        <input type="text" ng-model="info.shop_print" required>
                    </label>

                </div>
                <div class="item">
                    <div id="map" data-tap-disabled="true">
                    </div>

                    <label class="item">
                        <span><span class="necessary">*</span>定位经度:</span>
                        <label type="text">{{info.shop_lat}}</label>
                    </label>
                    <label class="item">
                        <span><span class="necessary">*</span>定位纬度:</span>
                        <label type="text">{{info.shop_lng}}</label>
                    </label>

                    <div>
                        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"> 重新定位 </a>
                    </div>
                </div>

            </div>

            <div class="padding error" ng-show="submitHasError">
                <label type="text">{{error_message}}</label>
            </div>

            <div class="padding">
                <button class="button button-block button-positive" ng-click="submit()">
                    提交
                </button>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/newshop.html" type="text/ng-template">
    <ion-view view-title="New Shop">
        <ion-content padding="true">
            <div ng-show="!newShopURL">
                <p>创建地铺出错啦,请联系管理员:</p>
                    {{newShopStatus}}
                </p>
            </div>
            <div ng-show="newShopURL">
                <p>店铺已经为您准备妥当,请访问:</p>
                {{newShopData.url}}
                <p>
                    <a class="icon" ng-href="{{newShopURL}}">{{newShopData.url}}</a>
                </p>
            </div>

        </ion-content>
    </ion-view>
</script>

</body>
</html>