.leftContainer {
    position: absolute;
    width: 27%;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 21px;
    overflow: hidden;
}

.rightContainer {
    width: 73%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 27%;
    overflow: hidden;
}

.productlist-ion-content{

}

.productlist-ion-content.has-header{
    top: 45;
}


.shop-categray {

    background-color: #f8f8f8;
    border-bottom: solid 1px #efefef;
    border-right: solid 1px #efefef;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.shop-categray-list {
    background-color: #f8f8f8;
}

.shop-categray-selected {
    background-color: #ffffff;
    border-right: none;
    color: #F54447;
}

.shop-categray-item {

    text-align: left;
    font-size: 14px;
    padding: 10px 1em 10px 1em;

}

.shop-categray-item-decorate {

    width: 0px;
    height: 100%;
    position: absolute;
    left: 0;

}

.shop-categray-item-decorate-show {

    background-color: #F54447;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;

}

.shop-categray-item-edge {
    background-color: #F54447;
    color: #ffffff;
    width: auto;
    min-width: 18px;
    text-shadow: none;
    height: 18px;
    border-radius: 9px;
    position: absolute;
    top: 6%;
    right: 2;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    font-weight: lighter;
}

.shop-categray-item-selected {
    color: #F54447;
}


.shop-product-list {
    background-color: #ffffff;
}

.shop-product-categray-list {
    margin: 0.0em;
    padding: 0px 9px 9px 12px;
    padding-left: 5px;
}


.prod_icon {
    position: relative;
    width: 70px;
    height: 0;
    overflow: hidden;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    /*border: solid 1px lightgray;*/
    margin-right: 5px;
}

.prod_icon_clickable {
    min-height: 100px;
    min-width: 100px;
    display: inline-block;
    overflow: hidden;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.product-item {
    display: list-item;
    border-bottom: 1px solid #E0E3EF;
    padding: 9px 0px 9px 0px;
    overflow: hidden;
    position: relative;
}

.product-status {

    font-size: 13px;
    margin-left: 5px;
    padding: 2px;
    border-radius: 2px;
    color: #ffffff;
    background-color: red;
    font-weight: normal;
}

.product-title {

    font-size: 13px;
    color: #343434;
    font-weight: normal;
}

.prod_info {
    position: relative;
    min-height: 40px;
}

.product-price {

    position: absolute;
    bottom: 0;
    font-size: 13px;
    color: #343434;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    float: left;
    padding-top: 5px;
}

.product_action {
    position: absolute;
    right: 0;
    bottom:0;
    min-width: 80px;
}

.product_action .button-icon .icon:before, .button-icon.icon:before {
    font-size: 25px;
}

.product_action_vote {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    font-size: 20px;
    cursor: pointer;
}

.product_action_edit {
    display: inline-block;
    width: 35px;
    float: left;
    height: 35px;
    font-size: 20px;
    border-right: none;
    cursor: pointer;
    vertical-align: middle;
}

.product_stepper_count {
    display: inline-block;
    width: 25px;
    height: 25px;
    float: left;
    border: solid 1px lightgray;
    border-right: none;
    vertical-align: middle;
    padding-top: 2px;
    color: #F54447;
    font-weight: bold;
}

/* expand mmbar -ionic bar*/

.bar.bar-mmiao {
    border-color: #EE2630;
    background-color: #F54447;
    background-image: linear-gradient(0deg, #EE2630, #EE2630 50%, transparent 50%);
    color: #fff; }
.bar.bar-mmiao .title {
    color: #fff; }
.bar.bar-mmiao.bar-footer {
    background-image: linear-gradient(180deg, #EE2630, #EE2630 50%, transparent 50%); }

.bar-mmiao .button {
    border-color: #EE2630;
    background-color: #F54447;
    color: #fff; }
.bar-mmiao .button:hover {
    color: #fff;
    text-decoration: none; }
.bar-mmiao .button.active, .bar-royal .button.activated {
    border-color: #EE2630;
    background-color: #EE2630;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
.bar-mmiao .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; }
.bar-mmiao .button.button-icon {
    border-color: transparent;
    background: none; }

.mgray, a.mgray {
    color: darkgrey; }

.mgray-bg {
    background-color: darkgrey; }

.mgray-border {
    border-color: darkgrey; }


.order-item {
    margin: 9px;
    border: solid 1px lightgray;
    border-radius: 2px
}

.orderSnapshot {
    display: inline-block;
    width: 100%
}

.orderSnapshotItem {
    float: left;
}

.orderSnapshotCount {
    float: right;
    padding-right: 6px;
    font-weight: bold;
}

.orderSnapshotTotal {

    display: block;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    padding-right: 6px;
}

.orderSnapshotCountNumber {
    font-size: 14px;
    margin-left: 2px;
    font-weight: 100;
    color: #000000;
}

.orderDate {
    float: left;
    padding: 0.8em;
}

.orderStatus {

    float: right;
    color: #ffffff;
    background-color: #F54447;
    text-shadow: none;
    padding: 2px 10px 2px 10px;
    font-size: 18px;
    margin-top: 9px;
}

.orderRemarks {
    background-color: lightgray;
    text-shadow: none;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 5px
}

.shopItem {

}

.shopItemStatusOpen {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    background-color: #ef5356;
    padding: 2px 5px 2px 5px;
    border-radius: 4px
}

.shopItemStatusClosed {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    background-color: #a6a6a6;
    padding: 2px 5px 2px 5px;
    border-radius: 4px
}

.no-result-display {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    color: #808080;
}

.no-detail-scan-padding{
    margin-top: 30%;
}

.has-detail-scan-padding{
    margin-top: 10px;
}