.leftContainer {
    position: absolute;
    width: 27%;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 21px;
    overflow: hidden;
}

.rightContainer {
    width: 73%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 27%;
    overflow: hidden;
}


.shop-categray {

    background-color: #f8f8f8;
    border-bottom: solid 1px #efefef;
    border-right: solid 1px #efefef;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.shop-categray-list {
    background-color: #f8f8f8;
}

.shop-categray-selected {
    background-color: #ffffff;
    border-right: none;
}

.shop-categray-item {

    text-align: left;
    font-size: 14px;
    color: #000000;
    padding: 10px 1em 10px 1em;

}

.shop-categray-item-decorate {

    width: 0px;
    height: 100%;
    position: absolute;
    left: 0;

}

.shop-categray-item-decorate-show {

    background-color: #F54447;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;

}

.shop-categray-item-edge {
    background-color: #F54447;
    color: #ffffff;
    width: auto;
    min-width: 18px;
    text-shadow: none;
    height: 18px;
    border-radius: 9px;
    position: absolute;
    top: 6%;
    right: 2;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    font-weight: lighter;
}

.shop-categray-item-selected {
    color: #F54447;
}


.shop-product-list {
    background-color: #ffffff;
}

.shop-product-categray-list {
    margin: 0.0em;
    padding: 0px 9px 9px 12px;
    padding-left: 5px;
}


.prod_icon {
    position: relative;
    width: 70px;
    height: 0;
    overflow: hidden;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    /*border: solid 1px lightgray;*/
    margin-right: 5px;
}

.prod_icon_clickable {
    min-height: 100px;
    min-width: 100px;
    display: inline-block;
    overflow: hidden;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.product-item {
    display: list-item;
    border-bottom: 1px solid #E0E3EF;
    padding: 9px 0px 9px 0px;
    overflow: hidden;
    position: relative;
}

.product-title {

    font-size: 13;
    color: #343434;
    font-weight: normal;
}

.prod_info {
    position: relative;
    min-height: 40px;
}

.product-price {

    position: absolute;
    bottom: 0;
    font-size: 13;
    color: #343434;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    float: left;
    padding-top: 5px;
}

.product_action {
    position: absolute;
    right: 0;
    bottom:0;
    text-align: center;
    display: inline-block;
    margin-right: 6px;
}

.product_action_vote {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    font-size: 20px;
    cursor: pointer;
}

.product_action_edit {
    display: inline-block;
    width: 35px;
    float: left;
    height: 35px;
    font-size: 20px;
    border-right: none;
    cursor: pointer;
    vertical-align: middle;
}

.product_stepper_count {
    display: inline-block;
    width: 25px;
    height: 25px;
    float: left;
    border: solid 1px lightgray;
    border-right: none;
    vertical-align: middle;
    padding-top: 2px;
    color: #F54447;
    font-weight: bold;
}
.mgray, a.mgray {
    color: darkgrey; }

.mgray-bg {
    background-color: darkgrey; }

.mgray-border {
    border-color: darkgrey; }


.order-item {
    margin: 9px;
    border: solid 1px lightgray;
    border-radius: 2px
}

.orderSnapshot {
    display: inline-block;
    width: 100%
}

.orderSnapshotItem {
    float: left
}

.orderSnapshotCount {
    float: right;
    padding-right: 6px;
    font-weight: bold;
}

.orderSnapshotTotal {

    display: block;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    padding-right: 6px;
}

.orderSnapshotCountNumber {
    font-size: 14px;
    margin-left: 2px;
    font-weight: 100;
    color: #000000;
}

.orderDate {
    float: left;
    padding: 0.8em;
}

.orderStatus {

    float: right;
    color: #ffffff;
    background-color: #F54447;
    text-shadow: none;
    padding: 2px 10px 2px 10px;
    font-size: 18px;
    margin-top: 9px;
}

.orderRemarks {
    background-color: lightgray;
    text-shadow: none;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 5px
}

.shopItem {

}

.shopItemStatusOpen {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    background-color: #ef5356;
    padding: 2px 5px 2px 5px;
    border-radius: 4px
}

.shopItemStatusClosed {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    background-color: #a6a6a6;
    padding: 2px 5px 2px 5px;
    border-radius: 4px
}

.no-result-display {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: #808080;
}


/* time picker*/

.timeSelectorDirective {
    background: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.timeSelectorDirective .increase, .timeSelectorDirective .decrease{
    text-align: center;
    vertical-align: middle;
    color: rgb(112, 112, 112);
    text-shadow: 0px 1px #FFF;
    cursor: pointer;
    -webkit-transition: 500ms ease-out all;
    -moz-transition: 500ms ease-out all;
    -ms-transition: 500ms ease-out all;
    -o-transition: 500ms ease-out all;
    transition: 500ms ease-out all;
    font-size: 100%;
    border: 1px solid #CCC;
    padding: 3px;
    margin: 3px;
    border: 1px solid #EDE;
}

.timeSelectorDirective .increase:hover, .timeSelectorDirective .decrease:hover{
    color: rgba(112, 112, 112, 0.5);
    border-color: #CCC;
    background-color: #FFF;
}

.timeSelectorDirective .increase:active, .timeSelectorDirective .decrease:active{
    color: rgb(112, 112, 112);
    box-shadow: inset 1px 1px 1px #DDD;
}

.timeSelectorDirective .section{
    display: inline-block;
}

.timeSelectorDirective .display{
    background-color: rgb(247, 247, 247);
    color: #555555;
    padding: 5px;
    margin: 0px 3px;
    min-width: 30px;
    text-align: center;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 1px #FFFFFF;
}