.leftContainer {
    position: absolute;
    width: 27%;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 21px;
    overflow: hidden;
}

.rightContainer {
    width: 73%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 27%;
    overflow: hidden;
}


.shop-categray {

    background-color: #f8f8f8;
    border-bottom: solid 1px #efefef;
    border-right: solid 1px #efefef;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.shop-categray-selected {
    background-color: #ffffff;
    border-right: none;
}

.shop-categray-item {

    text-align: left;
    font-size: 14px;
    color: #000000;
    padding: 10px 1em 10px 1em;

}

.shop-categray-item-decorate {

    background-color: #F54447;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;

}

.shop-categray-item-edge {
    background-color: #F54447;
    color: #ffffff;
    width: auto;
    min-width: 18px;
    text-shadow: none;
    height: 18px;
    border-radius: 9px;
    position: absolute;
    top: 6%;
    right: 2;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    font-weight: lighter;
}

.shop-categray-item-selected {
    color: #F54447;
}

.prod_icon {
    position: relative;
    width: 70px;
    height: 0;
    overflow: hidden;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    /*border: solid 1px lightgray;*/
    margin-right: 5px;
}

.prod_icon_clickable {
    min-height: 100px;
    min-width: 100px;
    display: inline-block;
    overflow: hidden;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.product-item {
    display: list-item;
    border-bottom: 1px solid #E0E3EF;
    padding: 9px 9px 9px 9px;
    overflow: hidden;
    margin: 0;
    position: relative;
    width: 100%;
}

.product-title {

    font-size: 13;
    color: #343434;
    font-weight: normal;
}

.prod_info {
    position: relative;
    min-height: 40px;
}

.product-price {

    position: absolute;
    bottom: 0;
    font-size: 13;
    color: #343434;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    float: left;
    padding-top: 5px;
}

.product_action {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 6px;
}

.product_action_vote {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    font-size: 20px;
    border: solid 1px lightgray;
    cursor: pointer;
}

.product_action_edit {
    display: inline-block;
    width: 35px;
    float: left;
    height: 35px;
    font-size: 20px;
    border: solid 1px lightgray;
    border-right: none;
    cursor: pointer;
    vertical-align: middle;
}

.product_stepper_count {
    display: inline-block;
    width: 25px;
    height: 25px;
    float: left;
    border: solid 1px lightgray;
    border-right: none;
    vertical-align: middle;
    padding-top: 2px;
    color: #F54447;
    font-weight: bold;
}

