{
    "compiler": "modular",
    "alias": {},
    "export": [
    	"js/zepto.min.js",
    	"js/touch.min.js",
        "js/index.js",
        "js/list2.js",
        "js/list3.js",
        "js/city.js",
        "js/detail.js",
        "js/detailmap.js",
        "js/special.js",
        "js/special-detail.js",
        "js/special-detail2.js",
        "js/recommend.js",
        "js/base64image.js",
        "js/search.js",
        
        "css/style.css",
        "css/list2.css",
        "css/citylist.css",
        "css/detail.css",
        "css/detailmap.css",
        "css/loading.css",
        "css/search.css",
        "css/special-recommend.css",
        "css/special-detail.css"
    ]
}